[2018-02-05 13:18] gfrances opened #1 "Possible typo in "super" hierarchy element"
This line [here](https://github.com/aig-upf/tarski/blob/5f8ca8223e3bacc5e1b13093589a5cbc44796619/src/tarski/_language.py#L133) seems to be the result of some typo, as `super` is a built-in name that has nothing to do with the type hierarchy, and will surely be always different to `None`.
BTW not sure the code inside the `if` is correct either - isn't it missing the creation of an equality symbol f

[2018-02-05 13:21] gfrances opened #2 "Undefined symbol"
The symbol `sym` [here](https://github.com/aig-upf/tarski/blob/5f8ca8223e3bacc5e1b13093589a5cbc44796619/src/tarski/funcsym/_arithmetic.py#L115) is not defined.

[2018-02-05 13:24] gfrances opened #3 "Removal of extension tuple"
The `entry` variable [here](https://github.com/aig-upf/tarski/blob/5f8ca8223e3bacc5e1b13093589a5cbc44796619/src/tarski/_model.py#L61) is unused, so I guess that the remove will have no effect? OTOH, the construction of the frozenset will raise an exception when `tup is None`, right?

[2018-02-05 21:47] #1 closed, assigned to miquelramirez

[2018-02-05 22:30] #2 closed, assigned to miquelramirez

[2018-02-06 01:58] #3 closed, assigned to nobody

[2018-02-09 10:05] gfrances opened #4 "Implement Algebraic Data Types for Tarski"
A long pursued objective - I have a few interesting use cases for this :-)
The objective would be to be able to deal at least with lists and sets within the specification of a problem.
These datatypes should likely be imported as a separate module:

    import tarski as tsk
    import tarski.list

    bread_t = tsk.sort("bread")
    gluten_free_bread = tsk.list('gluten_free_bread', bread_t)

Or so

[2018-02-13 09:16] gfrances opened #5 "Implement Writers and Readers"
We would like to implement writers and readers in two different formats: json and PDDL. This will definitely help adjust and improve the current code design / API. The code should live under the `tarski.io` module.
Not sure if we want to reuse code from the FS planner and/or FD's python parser, that might be a reasonable first step - what do you think, @miquelramirez ?

[2018-02-13 10:20] gfrances opened #6 "Revise type casting"
We need to think carefully about implicit type casting. There's a couple of tests that are failing ATM and which are related to this, and which I think should be addressed (e.g. a `lang.constant(1.0, lang.Real)` should be a term, namely, an instance of the class Constant, not a double, right? I might have introduced this bug on the last refactoring, but just wanted to be sure before changing the c

[2018-02-13 10:55] gfrances opened #7 "Remove dependency on scipy"
The [dependency on scipy](https://github.com/aig-upf/tarski/blob/master/src/tarski/fol.py#L5) should definitely be optional and loaded only when needed. Besides, if the only need we have for it at the moment is defining the symbol Pi, we can probably get rid of it altogether :-)
But surely it'd be better to think on a mechanism for importing it under demand.

[2018-02-13 13:03] gfrances opened #8 "Fix Term Evaluation"
There's currently a subtle but important bug in the [evaluation of constant terms](https://github.com/aig-upf/tarski/blob/master/src/tarski/evaluators/simple.py#L56). The code has some explanations on it, but basically, the denotation of a constant might not always be model-independent. Technically, a constant is a nullary function, and as such, and in a planning context, it won't necessarily have

[2018-02-13 13:17] gfrances opened #9 "Rethink builtin symbols"
I'm starting to think that it might be more elegant to provide a "core language" module and then have all the builtins that we want to provide (perhaps we don't want to provide them monolithically, e.g. the arithmetic function symbols might only be loaded if explicitly required, etc.) separately. I.e. we create a language and then configure it with the "addons" that we want; each addon provides bu

[2018-02-13 23:23] miquelramirez opened #10 "AST involving terms and Python implementation of polymorphism"
Python implementation of polymorphism does not extend to built-in methods, such as __add__ or __eq__. This requires subclasses to overwrite the default implementations and call the base class method directly.

The first pass on the implementation took this into account, but introduced a fair bit of clutter. I will restore the correctness (and usefulness) of the implementation, while at the same ti

[2018-02-13 23:25] miquelramirez opened #11 "`resolve_function_symbol` is not suitable"
to account for functional symbols with arity different than 2. The previous iteration included the suffix ```_2``` to indicate that it was the version of the method with 2 parameters. That was not a great solution, as it harks back to the symbol/arity convention of ```Prolog```. Which was a PITA.

```resolve_function_symbol``` needs to refactored so its arguments list is variadic (i.e. using ```*a

[2018-02-14 03:25] miquelramirez opened #12 "The status of Axiomatic Formulas"
Axiomatic formulae have been disabled in this iteration. Quoting the comment in the code:

Like the implication, "axiomatic" formulas of the form

[code]

can be rewritten, compiling the equivalence operator away. This form of syntactic sugar is somewhat controversial, because of the tendency in the planning literature of conflating the semantics of the constraint (phi and varphi need to be simult

[2018-02-14 06:06] miquelramirez opened #13 "The status of Externally Defined Formulas"
Externally defined formulas have been disabled in this iteration. The comment in the code is as follows

should probably be done elsewhere, not here (possibly at the evaluation level)

I think that Externally Defined formulae do not need to be a distinct entity in ```Tarski``` formula hierarchy they're entirely something concerning the back ends.

[2018-02-14 06:17] #6 closed, assigned to miquelramirez

[2018-02-14 06:19] #10 closed, assigned to miquelramirez

[2018-02-27 12:09] miquelramirez opened #14 "Fluent Symbol and State Variable Detection"
At the moment the unit tests:

 - ```test_task_index_process_symbols_fluents```
 - ``` test_task_index_create_state_variables```

are broken.

The reason for this is that the predicate ```clear(x)``` is not being picked up as a fluent. This is expected, as clear has been defined as part of a state constraint, without specific syntax giving it away as a fluent symbol.

How can we figure out that th

[2018-02-27 22:46] miquelramirez opened #15 "Implement Naive Grounding"
From the e-mail

**Tasks**:
 - [x] Define output format
 - [x] Implement state variable calculation procedure
 - [x] Implement action grounding procedure
 - [x] Implement universal quantifier elimination
 - [x] Implement constraint grounding procedure
 - [ ] Implement HDF5 writer for storing groundings of symbols

[2018-02-27 22:47] miquelramirez opened #16 "Implement Grounding via compilation into ASP"
From the e-mail:

**Tasks**:
 - [x] Review existing ASP-based grounder and identify key components
 - [ ] Define output format
 - [x] Refactor ASP grounder (if necessary)
 - [x] Write interface adapter for the ASP grounder

[2018-02-27 22:55] miquelramirez opened #17 "Implement PDDL-like parsing"
From the e-mail:

**TODO list**:

 - [x] Review existing ANTLR grammar
 - [x] Rewrite callbacks for parsing events to capture the components modelled by ```Tarski``` language and planning problem components
 - [x] Introduce facade that allows to kickstart the parsing process

[2018-02-28 06:39] #14 closed, assigned to miquelramirez

[2018-03-07 10:24] gfrances opened #19 "ASP Parser - are equal / not_equal predicates necessary?"
Just as a reminder: when importing the ASP preprocessor, I'd like to check whether the `equal` / `not_equal` predicates used in the ASP model (see e.g. `grounder.py:181`) can be replaced always (or sometimes?) by simple equality or inequality Clingo builtin predicates. I need to have a deeper look at that, there might be some good reason not to do that.

[2018-04-25 07:51] gfrances opened #20 "Implement Simple Validation Routines"
A nice thing to have in Tarski would be a simple validation routine of any FSTRIPS instance, which checks e.g. that the problem is well-formed: all functions are total, etc.

[2018-06-22 21:31] gfrances opened #22 "FSTRIPS Language: Change Syntax for External Procedures"
I'd like to change the syntax we use to declare external procedures in PDDL files to something simpler, inspired by [the way GPT handles this](http://www.dtic.upf.edu/~hgeffner/html/reports/ijcai2001-ws.pdf.gz). Specifically, I would get rid of the need to prefix external symbols with an `@`, and simply have an extra top-level block in the PDDL declaring which symbols (usually functions or predica

[2018-06-22 21:37] gfrances commented on #22
That change would simplify the grammar, but we should either wait until integration of Tarski with the FS planner (preferrable), or else do the change in both places at the same time (likely too much unnecessary work)

[2018-06-22 21:53] gfrances commented on #22
@miquelramirez , the support for external symbols is not working, and I'm fixing it now, but I see that you might be using it in two places: in action names (rule "actionName" in the grammar) and in event names (rule "eventSymbol"). Are you? Is it working for you? What do you think of the suggestion above?

[2018-06-23 13:47] gfrances commented on #22
Ok, actually the issue is more interesting than i thought.
A few thoughts:

There are actually a few distinct dimensions along which we can qualify predicate and function symbols:
* Whether the symbol is externally denoted (so far signaled by a `@` heading the symbol name). This is a semantic, not syntactic, distinction.
* Whether the symbol is variadic (aka _multigrade_). Which we can see as shor

[2018-06-26 15:24] miquelramirez commented on #22
Hello @gfrances,

I just processed this discussion, which is quite substantial.

I think that following Blai's lead and coming up with specific sections for these kind of predicates and functions is the most sensible way to go. I think that having several ```:variadic``` and independent ```external``` sections is **not** a good idea.

I propose introduce an entirely new concept into PDDL-like lang

[2018-07-21 15:33] gfrances commented on #22
Miquel! Sorry again for the delay. I like the idea of nesting stuff! There is one problem though: as with all these types of hierarchical taxonomies, they don't look that well when you want to associate multiple "tags" to the same syntactic element. For instance, if I want a predicate which is variadic and has external denotation... how should I handle that? Repeating its declaration looks like a

[2018-07-21 15:34] gfrances commented on #22
BTW do you get notified if I don't write @miquelramirez ? :-)

[2018-07-24 09:37] miquelramirez commented on #22
I get notified since I am "watching" the repo.

Regarding the nesting, I hadn't considered the case of being both **external** and **variadic**, but perhaps it could just look like:

[code]

Same dilemma as with C++ ```const``` and ```virtual```. I will never truly understand why virtual goes behind the method name, like const does :-) But easier, since return types can't be const here :-)

I like

[2018-07-25 16:49] gfrances commented on #22
I like your approach better - I told you I lack this Lispian taste!
My option is clearly too neat for Lisp :-)
Thanks!

[2018-09-14 10:51] gfrances opened #23 "Clean up copy / deepcopy usage and implementation"
We have a few overrides of the special methods __copy__ and __deepcopy__ in the FOL syntax classes in Tarski. Most of them are not necessary, as they do exactly what the `copy.copy` and `copy.deepcopy` methods should do. One of them is key however, and does a different thing. The one in the Sort class:

[code]

Which prevents an otherwise undesirable circular recursion, which is the one that leads

[2018-09-14 11:51] gfrances commented on #23
Not sure which attribute `L` you mean?

One relevant point is that we don't want to implement something that breaks with the standard semantics of copy / deepcopy. E.g. if a user of the library deepcopies a language, she would expect to get a truly deep-copy, etc.

Another alternative of course is to implement ourselves a different copy module that works with our classes only, and document appropr

[2018-09-14 12:10] miquelramirez commented on #23
```L``` = language. That was the old name the property pointing to the language associated with a term had.

The standard semantics of copy/deepcopy are as useful as those of C++. We overwrite very often constructors in C++ for the very same reasons as here (efficiency, correctness, etc.). So much for "breaking with the standard". I would rather say, "overwriting default behaviour".

I don't find

[2018-09-14 12:12] miquelramirez opened #24 "Should languages have the EQUALITY theory attached by default?"
Consider the following test case in

https://github.com/aig-upf/tarski/blob/dev-0.2.0/tests/fol/test_interpretations.py

[code]

if Theory.EQUALITY is not specified we get an exception when trying to evaluate the formulas

[code]

and

[code]

The reason for that seems to be that we need the operator == defined for constants which are mappable to integral types. I am not 100% sure why we're not ru

[2018-09-14 14:27] gfrances commented on #23
No need to get angry! :-)

I honestly still don't understand their purpose. That's why I thought it could be good to add some code comments documenting the intention. You say it's conspicuously obvious, but look at these two overrides:

[code]
I still don't understand what makes them necessary: my point is that if that I take them out, everything will work exactly the same, as they are implementin

[2018-09-14 14:34] gfrances commented on #23
That sounds quite reasonable to me. A similar (maybe simpler?) fix would  be to shortcircuit the deepcopy operator of Language so that it performs a shallow copy (documenting that, of course); and provide, if necessary, and only for language, a method `clone`, or `deepcopy`, or whatever name, that _does_ actually a deep copy. With that single change, I think (but not 100% sure) that all of this wo

[2018-09-14 14:45] gfrances commented on #24
If I understand correctly, those formulas should fail iff `Theory.ARITHMETIC` is not attached to the language, independently of `Theory.EQUALITY`, right? (i.e. that would be a bug)
Or you mean something different?

[2018-09-14 21:37] miquelramirez commented on #24
Those formulas should work fine without need of specifying any extra Theory - there's no fluent or predicate symbols with pre-established meaning.

[2018-09-14 21:42] gfrances commented on #24
Oh sorry, I had not seen that you were defining `leq` as a predicate, I thought it was some shorthand that we had for a builtin "<"!
Then you're definitely right, we should not need EQUALITY for this. I'll try to have a look at this tomorrow!

[2018-09-14 21:44] gfrances commented on #24
BTW also related to this: we're building all built-in sorts _always_, which I'm not sure is what we want (and perhaps wasn't like this a few months ago, might have introduced that inadvertently). E.g. when defining a language with just the EQUALITY theory, for instance to describe blocksworld, we shouldn't receive a language with the INTEGER, REAL, etc. types defined - right?

[2018-09-14 21:52] miquelramirez commented on #24
Built-in sorts have always been included in the language by default since the first commit involving them.

I actually think EQUALITY and the numbers should be default for any language. It doesn't make sense to require people to declare their own sort "MyReals" with the symbols ```"1.0"```, ```"2.0"```, ```"3.0"``` when the language we are using (Python) allows to use directly symbols like ```1.0`

[2018-09-14 22:34] gfrances commented on #24
of course, not suggesting that reals, etc dont be builtin, only that they
should perhaps only be "loaded" into the language if explicitly asked so by
the user,  e.g. through the arithmetic theoryor otherwise...

El vie., 14 sept. 2018 23:52, Miquel Ramírez <notifications@github.com>
escribió:

[2018-09-14 23:01] miquelramirez commented on #23
Okay, I just merged ```contingent``` into ```dev-0.2.0``` and it indeed looks like we're not breaking the default implementations of ```copy``` and ```deepcopy``` as we used to.

[2018-09-14 23:04] miquelramirez commented on #23
This should be handled by the objects referring to ```Language```, as then we can use the default behaviour of deepcopy for Language.

That makes sense

[2018-09-14 23:06] miquelramirez commented on #24
Having the builtin Sorts defined doesn't seem to me a burden - asking the user to do so it is as looks like something easy to forget about doing.

I still don't understand exactly why the testcase above fails when EQUALITY isn't loaded (and the == operator is defined) yet doesn't fail for the "named custom object" constants.

[2018-09-14 23:08] miquelramirez commented on #23
Please, don't do direct commits like that to ```master```, because they're hard to track for me and test the integration with the stuff in ```dev-0.2.0```. Committing directly to ```dev-0.2.0``` is recommended.

[2018-09-15 09:37] gfrances commented on #24
BTW, I thought we discussed at some point that it'd be good to version the output of the ANTLR process, i.e. the autogenerated parser files, so that users of the library don't need to have JAVA, ANTLR, etc. installed, but I see that you reverted that in c8311ea739b3183127c2c91ca72237bee9ffb87f ? Wouldn't it be preferable the old behavior, even if of course that means some noise in the git history?

[2018-09-15 09:46] gfrances commented on #24
Ok, the culprit is [this line](https://github.com/aig-upf/tarski/blob/f6f2a3b83100e66be48318d23adae99ad5c50ca8/src/tarski/model.py#L118). The `point in dictionary` , where point is `<class 'tuple'>: (1.0 (Real), 2.0 (Real))` relies on the (standard Python) equality and hash functions for e.g. object `Constant(1.0)`, but the (python) equality operator is [overloaded](https://github.com/aig-upf/tars

[2018-09-15 09:48] gfrances commented on #24
The obvious solution would be to use the wrappers you wrote a while ago, right? Or can you think of something better?

[2018-09-15 10:01] gfrances commented on #24
Alternative, one could think of giving up on the syntactic sugar nicety of being able to create atoms with `c1 == c2`, etc., and replace that by `eq(c1,c2)` - won't be a disaster, although I like the readability of the first option :-)

[2018-09-16 03:59] miquelramirez commented on #24
A more general implementation of ```TermReference``` is ```SymbolReference```, implemented here

https://github.com/aig-upf/tarski/blob/dev-0.2.0/src/tarski/syntax/visitors.py

and which is heavily used by certain transformations (Prenex conversion), grounding and for the automatic rewriting of formulas I have been used to compile planning into SMT etc. Note that syntactic equality can be "naive"

[2018-09-16 03:59] miquelramirez commented on #24
It is the branch where everything is integrated, so it will be messy.

[2018-09-16 09:07] gfrances commented on #24
Yup, I saw that, but wasn't sure about what was going on with the string comparisons that you mentioned, and also with the `inclusion_closure`s of the sorts. One thing that you could do to alleviate that recursion problem is to cache the hash value one the object, and compute it in the constructor (given that it won't be modified). Not sure now whether that string `__str__` computation can be trig

[2018-09-17 01:42] miquelramirez commented on #24
Done some work to clean up this:

 - ```SymbolReference``` has been refactored away, as the concept of ```TermReference``` you suggested is I think more straightforward
 - Added ```FormulaReference```, the twin of ```TermReference``` and implemented ```is_syntactically_equal``` for all the classes in the ```Formula``` hierarchy

Regarding

The string comparisons we have discussed already. There's

[2018-09-17 01:42] #24 closed

[2018-09-17 01:43] miquelramirez commented on #23
I am closing this one down, as ```dev-0.2.0``` has now incorporated all the changes discussed here.

[2018-09-17 01:43] #23 closed

[2018-09-17 22:50] miquelramirez opened #25 "Explore alternatives to the current ANTLR parser: PLY, SLY"
It just recently came to my attention this Python module

http://www.dabeaz.com/ply/index.html

This looks like a possible alternative to ANTLR - it is both quite mature and seems to be well supported. I haven't looked at how does ```ply``` handle semantic attachments to the parser. This was the prime motivator for me to use ANTLR (that and a cleaner syntax for both the parser and the lexer).

[2018-09-17 22:53] miquelramirez opened #26 "Keeping Parser Files in the Repository"
As discussed elsewhere, at one point we had the pre-generated parser files in the repo.

I removed them because they are incompatible with different versions of the ANTLR Python runtime. I need to double check which is the latest version, and make sure that all setup.py scripts are pointing to the right version before reintroducing them.

[2018-09-17 22:56] miquelramirez opened #27 "RDDL Support Incoming for both Tarski and FS"
After conferring with Scott Sanner and one of his students (?) Thiago Bueno, I was made aware that there is a fully functional, Python3 ```RDDL``` parser available

https://github.com/miquelramirez/pyrddl

which is ```pip``` installable. Over the next few days I will be mimicking the FSTRIPSWriter/Reader classes so we can work directly on Scott's domains (and use Tarski to produce RDDL models).

[2018-09-17 22:57] miquelramirez commented on #8
Notebooks reviewed and fixed as necessary

[2018-09-17 22:57] #8 closed

[2018-09-17 22:58] miquelramirez commented on #9
I think we're quite satisfied for now with our current setup.

[2018-09-17 22:58] #9 closed

[2018-09-17 23:01] miquelramirez commented on #7
I have actually changed my mind on this - we need ```scipy``` to represent properly the so-called [Special Functions](https://en.wikipedia.org/wiki/Special_functions) which are now loaded with the theory SPECIAL.

Following up this, a new theory (RANDOM) will be incoming soon to support representing standard probability distributions so to fully support RDDL1/2.

[2018-09-17 23:01] #7 closed

[2018-09-18 07:49] miquelramirez opened #28 "Tutorial"
I have finished doing a pass over the old Tutorials in the ```notebooks``` folder, and I would need some feedback on them. @gfrances could you take a look through them?

Also, I was wondering if it would be worth the effort to integrate the example with ```pyperplan```, just for the purpose of illustration.

[2018-09-19 20:27] gfrances commented on #28
Wow, I keep being impressed over and over again with the kind of things you can do with these jupyter notebooks! Looks very good. I have only some minor comments, but not sure how to change the notebooks myself, to be honest, and test them. It's only 3 or 4 minor things, so I'll paste them below.

What is exactly your idea with pyperplan? Integrate it _within_ Tarski? Have another project "pyperpl

[2018-09-19 20:28] gfrances commented on #28
When I get back from holidays I'll set up a Jupyter server, or however that works, so that I can edit things myself. Looks great!

[2018-09-19 21:58] miquelramirez commented on #28
Thanks @gfrances enjoy your holidays. I will be taking a look at ```pyfs``` soon too, we can follow up when you're back.

[2018-09-20 00:45] miquelramirez commented on #28
Fixed

Fixed

<tarski.syntax.formulas.QuantifiedFormula at 0x7f69f0087748>

The ```str()``` operator is still there and doing its job. What you see there is the actual proper behaviour of the Jupyter notebooks: code cells evaluate the statements in them. So if you write for instance:

```2 + 3```

in a cell, the output is

```5```

Since we were creating an object (or referring an object) what we

[2018-09-20 00:52] miquelramirez commented on #28
No, not a formal one. ```pyperplan``` I don't see as a ```proper``` planner, but rather, as a platform to teach about planning.

The idea was to have a notebook that shows the integration. For that you only need to have ```pyperplan``` installed in your environment.

This notebook would cover how to construct a simple foward search model from a fully grounded Tarski task, which is then solved with

[2018-09-20 06:04] gfrances commented on #28
Sounds very good. I can help with that if necessary in a couple of weeks, I am reasonably familiar with pyperplan.

[2018-10-23 04:53] miquelramirez opened #29 "PyFS Convergence"
We expect several changes need to be made to ```Tarski``` interfaces in order to make easier the development of PyFS. So far we have identified:

- [x] Hashable ```Predicate```
- [x] Hashable ```Function```

[2018-12-13 09:29] emilkeyder opened #30 "Parsing blocksworld fails with DuplicatePredicateDefinition"
This can be replicated with:

Resulting in:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.7/site-packages/tarski-0.1.0-py3.7.egg/tarski/io/fstrips.py", line 27, in read_problem
    self.parse_domain(domain)
  File "/usr/local/lib/python3.7/site-packages/tarski-0.1.0-py3.7.egg/tarski/io/fstrips.py", line 37, in parse_domain
    self.parse_f

[2018-12-13 10:49] miquelramirez commented on #30
Hello @emilkeyder,

I am using the branch ```hybrid``` (which will be soon ```master```), and this problem is not happening for me with Python 3.5. Seeing that the version of the Python package is ```0.1.0``` I reckon you must be using another branch. If you're using the ```hybrid``` branch, you should be at ```0.2.0```.

In any case, your report allowed me to find another bug which would annoy yo

[2018-12-13 10:49] #30 closed

[2018-12-16 11:07] miquelramirez opened #34 "Missing docs for ```TermReference``` and ```FormulaReference```"
- [ ] Write new tutorial illustrating the uses of ```TermReference``` and ```FormulaReference```

[2018-12-16 22:44] miquelramirez opened #35 "FSTRIPS Writer Cannot Handle Term References"
**Problem**:  @emilkeyder is running into trouble using the FSTRIPS printing functions in ```tarski.io.fstrips``` due to ```print_init``` being out of step with the implementation of predicate and function extensions. The issue is that we needed to define as tuples of ```TermReferences``` the entries in the extensions of declared functions and predicates, but the ```print_init``` method is expecti

[2018-12-16 22:51] #35 closed

[2018-12-16 22:52] gfrances commented on #35
I ran into a similar issue a couple of days, perhaps the method [`list_all_extensions`](https://github.com/aig-upf/tarski/commit/058dfd90a8acdd4273df96e249df07dcf25c7478#diff-d20fbb667e7777d1633d71cf34661fcfR88) that I pushed into the `lite` branch might be of use here? It is not particularly geared towards performance, truth to be told :-)

[2018-12-16 22:52] gfrances commented on #35
Ops, you're too fast, Miquel :-)

[2018-12-16 23:00] miquelramirez commented on #35
Hi @gfrances - a method like that would probably help simplifying ```print_init``` significantly. In any case, the issue was very localised once I understood @emilkeyder explanation of the problem.

[2018-12-17 05:05] miquelramirez opened #36 "```ite``` virtual function not a builtin"
**Problem**: the special function ```ite``` is not marked as a built in.
**Proposed solution**: set the builtin flag to true right after setting it up in ```tarski/fol.py```

[2018-12-17 05:07] miquelramirez commented on #36
@emilkeyder commit 3f04017f05ed2ff35a66ea38ab0774a05cb11072 should tentatively fix the leaking of the ite() builtin

[2018-12-17 05:15] #36 closed

[2018-12-17 05:15] miquelramirez commented on #36
Reported by @emilkeyder as solving the issue

[2018-12-17 22:22] miquelramirez opened #37 "Move ```ite``` function to Arithmetic Theory"
As observed by @gfrances, the ```ite``` function supporting the If-Then-Else compound term needs to be defined elsewhere than ```fol.py```.

[2018-12-27 02:48] miquelramirez opened #39 "Functional STRIPS with action costs refactorings"
Following up on  the changes proposed by @emilkeyder  on #38 :

1. There is no need to add specific attributes to ```tarski.fstrips.Problem``` in order to generate domain definitions compatible with IPC planners. I would rather do by adding rules to determine requirements in ```tarski.io._fstrips.common```.
2. ```IncreaseEffect``` needs to be refactored to avoid complicating the generation of comp

[2018-12-27 02:51] miquelramirez commented on #39
Hi @emilkeyder ,

please check out commit https://github.com/aig-upf/tarski/commit/78783266d40923e71e1b59e70d5bc95e870f7a40 and advise if the refactoring still fulfills the original purpose.

Note that I have broken your code, as you don't need to "mark" FSTRIPS problems as using numeric fluents only for the purpose of having action costs.

[2018-12-27 15:09] emilkeyder commented on #39
Thanks for integrating this! Changes to my code are just two lines and I've
verified that everything works.

On Wed, Dec 26, 2018 at 9:51 PM Miquel Ramírez <notifications@github.com>
wrote:

[2018-12-28 00:41] miquelramirez commented on #39
Great, I will close this down then.

[2018-12-28 00:41] #39 closed

[2019-01-10 10:36] gfrances opened #42 "Refactor Interpretation / Model Objects"
I'd like to refactor a bit our design for FOL models. The current `Model` class is a great starting point, but we should have a (perhaps different) "Planning model" object which takes into account information of which predicate and function symbols are static to minimize the memory footprint and, essentially, is able to do the same key operation than the current models, which is to compute the den

[2019-01-10 10:46] gfrances opened #43 "Develop a Library of Problem Generators"
I should find time to port to Tarski some of the countless problem generators that I have written for different papers / projects. Having some `generators` submodule (again, no need for that to live under this repo) that is basically a user module of Tarski and its `io` module and provides off-the-shelf generators for standard problems (blocksworld, gripper, and so on) would be a great way of show

[2019-01-10 10:47] gfrances opened #44 "Provide Reachability Analysis Capabilities Through ASP"
We have several open issues regarding grounding and the integration of the ASP models that we already have in the FS planner to do that task (See #15, #16, #17, #19). Just to add to the wishlist, I think when we implement that we should use the opportunity to provide basic reachability-analysis capabilities to the Tarski user. With this I simply mean having some class / methods that are able to te

[2019-01-10 10:51] gfrances opened #45 "Provide basic search capabilities"
One thing that would be really useful for some of my projects would be to have some basic search capabilities integrated into Tarski (doesn't really need to be code that lives within this repo, to be discussed). I think at some point we mentioned with Miquel that an option would be to integrate pyperplan; perhaps that's not even necessary, as most of what pyperplan does in terms of parsing, we alr

[2019-01-10 10:53] gfrances opened #46 "Implement Some Axiom Inference Algorithm"
This is a more far fetched project, but I'd like to implement some algorithms (perhaps a good starting point would be Miura & Fukunaga, ICAPS 2017) to infer axioms from the problem description.

[2019-01-10 10:56] gfrances commented on #42
The new Model classes should also take into account axioms and provide a consolidated "view" of an extended state with the value of all primary + secondary state variables. For this, we'd just need to implement some simple axiom evaluation strategy (e.g. the FD algorithm), with the usual assumption that axioms are stratified, etc.

[2019-01-10 19:31] gfrances opened #47 "Discuss how to deal with shadowing of Python built-in function names"
We are currently overriding a few of Python's builtin names with our own function names, namely: `pow`, `min`, `max`, `abs`. I am not in principle against this, but at the same time it is true that I've seen some

    from blablabla import *

in our code. The conjunction of both things worries me a bit more, since we're opening the door for the user to unadvertently override common functions like

[2019-01-11 00:46] miquelramirez commented on #43
I think this is a great idea - it would have certainly helped @emilkeyder quite a bit. I guess it is possible to have different pip packages correspoding to submodules (which we can then easily install with pip when needed).

[2019-01-11 00:48] miquelramirez commented on #45
This perhaps can be sorted out by providing such a facility as an illustrative example of how one could construct the typical data structures used in search based planners.

[2019-01-11 00:54] miquelramirez commented on #47
Same thing can happen with ```numpy```, if you do a from numpy import * you can expect some trouble. This is usually avoided by using an idiom (like importing ```numpy``` with a short alias). We could potentially promote such an idiom ourselves.

Renaming the functions to avoid name classes I personally think is worse.

[2019-01-11 01:01] miquelramirez commented on #42
I think that leaving the ```Model``` class as it is, is a good thing.

I have a number of project mapping ```Model``` into "states" and the pattern that I have observed is the following:

 - You usually want to make distinction between symbols whose denotation changes and those which do not.
 - The transformations on ```Model``` essentially "flatten" the data structure into some sort of vector or

[2019-01-11 01:10] emilkeyder commented on #43
I think it would also be really nice to be able to automatically add common objects/attributes like counts (next ?c1 ?c2, less-than ?c1 ?c2, etc) and location graphs (adjacent ?x ?y, agent-at ?x). Doing that in a generic way that's easy to understand and write probably requires more thought though.

[2019-01-17 13:49] gfrances opened #48 "Clarify use of TaskIndex"
Hi  @miquelramirez ,
I am trying to understand and fix / improve the TaskIndex class, which has changed from the `lite` branch to the `dev-2.0` branch, and is breaking some of my code. In particular, assume that `index` is a `TaskIndex`... when I invoke `index.process_symbols(problem)`, now `index.fluent_symbols`  no longer contains symbols, but `FormulaReference`s. Is there any reason for this? M

[2019-01-17 22:59] miquelramirez commented on #48
```Is there any reason for this? ```

To make the list searchable, that why we need to wrap them.

```What are the cases in which a symbol can be both fluent and static?```

That is a comment that makes reference to an attempt to implement directly real axioms (or ramifications) as state constraints. So the comment is pretty out of date.

[code]
Basically to discern between state variables and con

[2019-01-18 08:15] gfrances commented on #48
Ok! My point was that before we used to have predicate symbols in that attribute, and now we have atoms, which is not the same, but then I suggest to have two different sets of methods / attributes: `fluent_symbols` and `static_symbols`, on the one hand, and `fluent_terms` and `static_terms`, on the other (although this last option ignores the fact that they might be atoms as well, but I don't hav

[2019-01-18 11:12] miquelramirez commented on #48
Hi @gfrances,

I am okay with changing the name of the attributes to "xxx_terms" rather than the current arrangement. I will do the change myself in dev-0.2.0 and then synchronise my projects.

[2019-01-18 11:24] miquelramirez commented on #48
See commit 4cbaaf99f8eb383a1b6460780ef4fe9faf5fc47f for the renaming/introduction of the new attributes. All tests are passing locally for me.

[2019-01-19 18:16] gfrances commented on #48
Ok, I see that I was wrong in my previous description (but you didn't correct me!): fluent_terms still seems to be aimed at computing fluent "symbol" objects, not terms. Brrrr. But still: I don't understand what is all of this different, repeated FormulaReferences that we are computing. First point: I don't think we need "reference wrappers" around simple logical symbols (i.e. Functions or Predica

[2019-01-31 01:01] miquelramirez commented on #48
Hi @gfrances,

I hope you guys enjoyed your tropical island holidays. Let me go over the items above below

## Necessity of wrapping ```Function``` and ```Predicate``` objects

Totally agreed. I am not sure what is the objection though to wrap atoms with ```FormulaReference``` instances when we put them in lists. I do not know either why you think I want to wrap ```Function``` and ```Predicate```

[2019-01-31 01:11] miquelramirez commented on #48
What is missing in the current implementation is a way to determine that two atoms (with different arguments) need to be considered for grounding separatedly or not. This is an issue as we generate several times the same grounding. But note as well that the current grounding module (see ```tarski.grounding.naive```) is called _naive_ for a reason. It is meant to be a baseline, that provides very b

[2019-02-08 15:00] gfrances opened #52 "Possible bug when parsing domain with universally-quantified effects?"
Commit 25b6555dcb3164b01807a5218a702389235d8d38 introduces a new test on a domain with universally quantified effects; the test is failing, I suspect due to some bug with those effects, but I don't have time to check that now. It could also be that by now this has been solved in the dev branch, but I thought that having the test on that simple domain wouldn't hurt either.

[2019-02-10 23:56] miquelramirez commented on #52
Hello @gfrances,

I cherry picked commit 25b6555dcb3164b01807a5218a702389235d8d38 and the test is failing on ```dev-0.2.0```, with the following output:

[code]

Is this the same error you get on ```lite```?

[2019-02-11 05:43] gfrances commented on #52
yes, looks the same.

El lun., 11 feb. 2019 0:56, Miquel Ramírez <notifications@github.com>
escribió:

[2019-02-27 15:40] gfrances commented on #52
Having a look into this now, just for the record

[2019-02-27 16:08] gfrances commented on #52
This is now fixed by commit 911f076

[2019-02-27 16:08] #52 closed

[2019-02-27 16:14] gfrances commented on #52
BTW, not sure if branch `universal-effects` was related to this and can perhaps be removed now?

[2019-03-07 16:33] gfrances opened #53 "Uniformize Predicate and Function interface"
The current design is not too consistent between classes `Predicate` and `Function`. They share no code, which is not nice (given that they are extremely similar, except for functions having a codomain, which for predicates is assumed to be boolean). Even worse, in one of them the main attribute is called `symbol`, whereas in the other it's `_symbol`, and then a `@property` is there to help make t

[2019-03-07 16:33] gfrances commented on #53
(Working on this already)

[2019-03-07 18:42] gfrances commented on #53
@miquelramirez, I am commiting this to a hopefully short-lived branch `dev-0.2.0-symbols`, perhaps you could checkout if you find a few minutes and see if it breaks any code of yours? Tests pass correctly, but I would expect some things to be broken by attribute name changes, hence the new branch...

[2019-03-07 22:08] miquelramirez commented on #53
Hi @gfrances,

it breaks everything, as the compilations do need to access the name of the function or predicate symbol to map it into the target language.

I see that you haven't transformed all terms yet (constants have a `symbol` not a `name`), and that there's now a new member called `head` defined for all `CompoundTerms` (but the subclasses haven't been changed).

I do think that the changes

[2019-03-08 10:46] gfrances commented on #53
Hehe you're right, I only started doing some changes. The general rationale for changing `symbol` to `name` was to call "symbol" those attributes that are indeed a symbol (i.e. a function symbol or a predicate symbol); and call "name" those attributes that are just strings or literals. OTOH, the rationale for changing the interface of `CompoundTerms` was to have both `CompoundTerm` and `Atom` pres

[2019-03-10 23:15] miquelramirez commented on #53
Hi @gfrances,

I think I like better merging `Functions` and `Predicates` as it simplifies very much the presentation of planning models based on FSTRIPS. I find very easy - read, parsimonious - to find succinct and compact notation to define concepts, and also simplifies proving soundness and efficiency of reductions (or lack thereof). In my view, `predicate` is the special case - and important s

[2019-06-20 15:02] gfrances commented on #47
Sounds a good option to me, better than what I proposed. Are you ok if I give it a try and replace the global imports

    from blablabla import *

that we ourselves have in our code by something such as

    import blablabla as bbb

and then of course replace symbols `xxx` by `bbb.xxx` as needed. This should be a relatively safe change to do with the IDE.

[2019-06-20 15:04] gfrances commented on #27
Miquel, is this already integrated in the dev branch?

[2019-06-20 15:48] gfrances commented on #26
At the moment we have these files (again?) in the repo. This was to allow any user to be able to use tarski without needing a full java runtime environment to compile the grammar, etc. I don't like having those large, automatically-generated files in the repo, but being able to do `pip install ...` and have everything working is quite nice, and not sure how to do that otherwise.

However, the vers

[2019-06-20 16:20] gfrances commented on #25
The PLY website mentions that "PLY is currently in maintenance mode only [...]  If you are looking for a parser generator with a more modern flavor, look at the [SLY Project](https://github.com/dabeaz/sly)".
SLY looks really nice. It'd be interesting to know if it improves the performance of the current ANTLR parser - and perhaps we could get rid of one or two segfaults that I'm starting to see wi

[2019-06-20 16:30] gfrances opened #54 "Release package to Pypi"
For the next release, we should prepare the package and upload it to pypi.

[2019-06-20 16:31] gfrances commented on #54
I'm doing some tests on the test server of pypi: <https://test.pypi.org/project/tarski/>

[2019-06-20 16:45] gfrances commented on #11
Miquel, is the current solution with `dispatch_operator` instead of `resolve_function_symbol` satisfactory to you? It's similar to the previous one, but looks like should be enough for our needs? Or do you still see some shortcoming?

[2019-06-20 18:03] gfrances commented on #5
I have removed the PDDL io modules, as FSTRIPS subsumes the whole of PDDL, and PDDL problems can be read / written using `tarski.io.fstrips`. As for the `json` io module that we discussed, at the moment I do not have too much use for it, since I am developing `pyfs` to pass all the relevant information through the python bindings, hence doing away with the need of parsing json files, etc.

Do you

[2019-06-20 23:05] miquelramirez commented on #47
This sounds good to me, but do not remove global imports from __init.py__, as that is forwarding symbols and I think is a different matter.

[2019-06-20 23:07] miquelramirez commented on #27
Yep, it is all in dev-0.2.0

Miquel

On Fri, 21 Jun 2019, 01:04 Guillem Francès <notifications@github.com> wrote:

[2019-06-20 23:09] miquelramirez commented on #26
A necessary evil I am afraid. Or We can use git lfs for the parser files too.

I wasn't aware of that package. Sounds like we should take a look at it.

[2019-06-20 23:11] miquelramirez commented on #25
Yep, looks like `ply` kicked the bucket.

`sly` looks good, but I am done with writing parsers for a while. That could definitely be a good third party contribution.

[2019-06-20 23:11] #25 closed

[2019-06-20 23:12] miquelramirez commented on #54
Exciting!

On Fri, 21 Jun 2019, 02:31 Guillem Francès <notifications@github.com> wrote:

[2019-06-20 23:13] miquelramirez commented on #11
I think this is an old issue as I do not have any current concerns.

Thanks for the spring clean of issues.

[2019-06-20 23:13] #11 closed

[2019-06-20 23:15] miquelramirez commented on #5
That I am afraid was a bit rash @gfrances, could you please coordinate with
@ekeyder and make sure all the functionality has been carried over?

On Fri, 21 Jun 2019, 04:03 Guillem Francès <notifications@github.com> wrote:

[2019-06-21 07:24] gfrances commented on #5
hehe not sure what functionality you meant, I just deleted two empty files! :-)

[2019-06-21 07:25] gfrances commented on #5
Relevant commit is here: 15e2fc0

[2019-06-21 07:26] gfrances commented on #47
Sure!

[2019-06-21 08:47] gfrances commented on #17
This is working since long. The ANTLR grammar for FSTRIPS, which includes PDDL, supports now most basic features. I suggest we close this issue and open surrogate issues for those particular features that are not supported yet but we'd like to support (at the moment I can only think of derived predicates)

[2019-06-21 08:47] #17 closed

[2019-06-21 08:52] gfrances opened #55 "Implement support for parsing of derived predicates"
The PDDL / FSTRIPS parser is _mostly_ working, but support for parsing PDDL axioms, aka "derived predicates" is still lacking.
Related: #12, where we had a long discussion about axioms in Tarski. However, this current issue is a bit different: we just want to be able to parse (and represent) PDDL axioms as defined in the language spec. Seems like that should be simpler.

[2019-06-21 09:40] gfrances opened #56 "Be consistent in FSTRIPS hierarchy attributes: `symbol`, `name`, `head`"
This is a spin-off from #53: we want to be more consistent in the way we name attributes in different classes of the FSTRIPS hierarchy. Quoting a couple of comments from that issue:

This is half implemented in branch `dev-0.2.0-symbols`. The idea would be to fully finish this work, check for problems in clients of the library, and then merge to`dev-0.2.0`

[2019-06-21 09:42] gfrances commented on #53
Upon further reflection, I think we should split this into two different issues. I'll leave this one open here with the discussion on the potential merge of Predicate and Function classes. I'm not fully convinced that we should rush to do that - I see advantages and disadvantages, and we already have a working version, so not sure I would prioritize changing that. However, I've opened issue #56 to

[2019-06-21 13:59] gfrances commented on #56
I'll close this one in favor of PR #57, sorry for the confusion.

[2019-06-21 13:59] #56 closed

[2019-06-21 14:47] gfrances commented on #27
Great, I'll close the issue then!

[2019-06-21 14:47] #27 closed

[2019-06-21 14:53] gfrances commented on #15
@miquelramirez, what's the status of the idea of the "HDF5 writer"? Should we file that as a separate "enhancement" issue and close this one? Sounds like a potentially interesting idea, although I'm not sure I'd prioritize that at least until we have some clear use case, i.e. some domain where storing / retrieving the groundings is what kills the performance (perhaps we already have that? excuse m

[2019-06-21 21:23] miquelramirez commented on #15
This was an old idea, no longer relevant.

[2019-06-21 21:23] #15 closed

[2019-06-21 21:35] miquelramirez commented on #55
Yep, I agree that as Tarski's scope has got better defined over time #12 is not really a `tarski` issue but a `fs` one.

[2019-06-21 21:36] miquelramirez commented on #5
So somebody did that already :)

On Fri, 21 Jun. 2019, 17:25 Guillem Francès, <notifications@github.com>
wrote:

[2019-06-21 21:37] miquelramirez commented on #17
Yep, 100% agreed

On Fri, 21 Jun. 2019, 18:47 Guillem Francès, <notifications@github.com>
wrote:

[2019-06-26 19:39] gfrances commented on #16
This is now merged into the `dev-0.2.0` branch!

[2019-06-26 19:39] #16 closed

[2019-06-26 19:40] gfrances commented on #44
This is now merged into the `dev-0.2.0` branch!

[2019-06-26 19:40] #44 closed

[2019-06-26 21:01] gfrances opened #61 "Transformations: Compile function symbols away"
We'd like to implement a Tarski transformation that takes any basic Functional STRIPS problem and converts it into a plain STRIPS problem (i.e. no function symbols) by applying Patrik Haslum's "Skolemization in reverse" procedure. "Basic" FSTRIPS here means that this should not deal with semantic attachments and other "advanced" FSTRIPS features.

[2019-06-26 21:03] gfrances opened #62 "Transformations: Compile existential quantifiers away"
We'd like to implement a Tarski transformation that takes any STRIPS / FSTRIPS problem with existential quantifiers and compiles these quantifiers away, either by pushing the quantified variables into the list of action parameters (if the variable appears in an action precondition and the user so desires), or by expanding the quantification into a disjunction.

[2019-06-26 21:07] gfrances opened #63 "Transformations: Project away non-effect variables"
We'd like to implement a Tarski transformation that takes any STRIPS / Functional STRIPS problem and, for those action schemas that contain parameters (variables) that appear only in the precondition of the schema, but not on the effects, projects this variables into an existentially quantified variable. To illustrate:

    action a(x, y, z)
    PRE: p(x, y) and q(y, z)
    EFF: not p(x, y)

would

[2019-06-26 21:28] gfrances commented on #47
Turned out there's no such type of `from xxx import *` anymore :-)

[2019-06-26 21:28] #47 closed

[2019-06-27 00:13] miquelramirez commented on #61
This would be useful. What about a SAS backend as well?

[2019-06-27 00:17] miquelramirez commented on #63
This is an interesting transformation, which is possible to write. Does the LP grounder work with existential precs?

[2019-06-27 07:18] gfrances commented on #63
Should work (didn't check though), as long as the existential quantification is in prenex normal form, and not only should it work, it should be significantly more efficient, as e..g will reduce the amount of "ground action" LP atoms that are reachable (if only because the potential number of ground actions decreases). Very good point! An example of a domain with featuring this is the `organic-syn

[2019-06-27 07:21] gfrances commented on #61
Could make a lot of sense to promote the use of FSTRIPS for modeling, and then e.g. transform to SAS and use Fast Downward for solving, if you need the range of capabilities that the planner provides. Will open another "3.0 wishlist" issue for that.

[2019-06-27 07:22] miquelramirez commented on #63
Maybe a quick test is in order.

[2019-06-27 07:24] gfrances commented on #61
(Not sure if we should compile a Github "project" for that wishlist, instead of a milestone?)

[2019-06-27 07:28] miquelramirez commented on #61
The project would allow to prioritise and keep track of progress more clearly. Each of the cards could correspond to a milestone.

[2019-06-27 07:30] gfrances opened #64 "Backends: SAS / FDR writer"
We'd like to implement a `SAS` / `FDR` writer that takes a STRIPS / FSTRIPS problem and outputs a file in the corresponding format, which can then be fed into planners such as Fast Downward. The reference for that would be the Fast Downward preprocessor and Malte's JAIR / AIJ articles ("The Fast Downward Planning System", "Concise finite-domain representations for PDDL planning tasks").
This will

[2019-06-27 07:35] gfrances commented on #64
This should also be considered a sub-task of issue #5, which could be closed once this one is.

[2019-06-27 21:23] gfrances commented on #48
I think this has already been dealt with with the integration / refactoring of the ASP based grounder. Feel free to reopen if you think otherwise, of course!

[2019-06-27 21:23] #48 closed

[2019-07-12 13:28] gfrances commented on #37
This looks like long resolved!

[2019-07-12 13:28] #37 closed

[2019-07-12 13:29] gfrances commented on #26
I would then close this issue - but feel free to reopen if you think otherwise!

[2019-07-12 13:29] #26 closed

[2019-07-12 14:48] gfrances commented on #54
https://pypi.org/project/tarski/

[2019-07-12 14:48] #54 closed

[2019-07-18 15:56] gfrances opened #66 "Fluent / Static classification fails on Settlers domain"
The method `classify_symbols` returns 14 fluent symbols and 9 statics, but the set of symbols in that domain is much larger.

[2019-07-18 18:47] gfrances commented on #66
I implemented a simpler method and added extensive tests (on IPC benchmarks) for it. The previous method `ProblemGrounding.compute_fluent_and_statics` was buggy in that it was missing predicate / function symbols in some cases. @miquelramirez , you might want to switch to the new method, although you might have not been using the previous method anyway, as I think I added it not long ago.

[2019-07-18 18:47] #66 closed

[2019-07-19 07:56] gfrances opened #67 "FSTRIPS parser lowercases all symbols"
At the moment, parsing PDDL / FSTRIPS problem description results in a FOL language `lang` where all predicate / function symbols in the PDDL (say, "CONNECTED") are turned into lowercase. However, attempting to retrieve e.g. `lang.get_predicate("CONNECTED")` raises an error, since the symbol is registered as "connected".
Fixing this is simple, but let's decide how we want to fix it. Options are:
1

[2019-07-19 08:07] gfrances commented on #67
Commit 8a6a019b5e9a contains a new test that fails to illustrate the issue

[2019-07-19 13:18] gfrances commented on #67
Ok, I found one possible reason why we were lowercasing: in some IPC domains such as blocsworld, the cases in the domain and in the instance files are mixed: in `domain.pddl` the predicate is `clear`, whereas in `probBLOCKS-4-0.pddl` it is `CLEAR`.

Given this, I suggest the following: everything is lowercased as it was until now, but the query methods in the language object (e.g. `get_predicate`,

[2019-07-19 14:44] gfrances commented on #67
Upon further reflection, I correct my previous comment: this casing issue is purely a PDDL parsing issue, and we should contain it to that area, i.e. to the `fstrips.io` module of Tarski; other than that, we should do nothing special with symbols. If a user of Tarski wants to model a FOL with a predicate `CLEAR`, then she should be able to always deal with the uppercase string with no problems, an

[2019-07-19 15:06] #67 closed

[2019-08-01 13:24] emilkeyder opened #69 "TypeError: unhashable type: 'Constant' in print_instance()"
When print_instance receives a non-None constant_objects argument, it tries to create a set of Constants here:

https://github.com/aig-upf/tarski/blob/master/src/tarski/io/fstrips.py#L181

this fails because class Constant has `hash()` defined but not `__hash__()`.

[2019-08-02 08:38] #69 closed

[2019-08-02 08:40] gfrances commented on #69
Thanks Emil - Now that we raise a `TypeError` each time a term is tried to use within some associative container, it is instructive to see how many buggy such uses of terms we had in our own code... !

[2019-08-02 14:20] emilkeyder commented on #69
Thanks for the quick fix. Is there any way I can subscribe to the pypi releases so I know when there is a new release pushed to try in my system?

[2019-08-02 14:37] gfrances commented on #69
Good question - I have never seen anything like that, but it seems there's a few not-so-direct ways of doing that: <https://stackoverflow.com/questions/17395151/how-can-i-subscribe-to-updates-of-a-package-on-pypi>.

That said, at the moment we don't have a clear/strict policy on when to update new releases to pypi. Ideally we'd want to automatically package&publish each new bugfix release, but we'

[2019-08-02 14:46] emilkeyder commented on #69
Worry with that is that there's a potential for build breakage every time there's a new push, so ideally I would like to only pull big releases/be able to pin the version after testing it. I will monitor the releases and do some manual testing before switching from our local version to the pypi version that incorporates this fix once it is available. Thanks!

[2019-08-02 14:50] gfrances commented on #69
If this helps, you can also pin down a particular commit ID from the repo to avoid the problem you're describing, and update that ID only when desired. This is e.g. the relevant portion of the `setup.py` of one of my projects using Tarski:

    setup(
        name='basilisk',
        # ...

        install_requires=[
            "tarski @ git+ssh://git@github.com/aig-upf/tarski.git@8ab6321",

[2019-08-02 14:50] gfrances commented on #69
(Forgot to mention, but there's similary syntax for `requirements.txt`-based projects.

[2019-08-02 14:53] emilkeyder commented on #69
Ah yeah, think I actually did that before but then forgot about it... I'll give it a try, thanks again.

[2019-08-03 11:17] gfrances commented on #69
Just for the record, the newly-uploaded version `0.3.0` includes this bugfix along with [other features and bugfixes](https://github.com/aig-upf/tarski/blob/master/CHANGELOG.md).

[2019-08-04 09:42] gfrances opened #70 "When requiring Python 3.7, switch `OrderedDicts` to `dict`s where possible"
The CPython implementation of Python 3.6 changed the behavior of `dict`s to be "insertion-ordered", meaning (perhaps among other things) that iterating over them has predictable behavior and returns the entries in the order they were inserted.  This has been made into a language-wide requirement in [Python3.7](https://docs.python.org/3/library/stdtypes.html#dict).
Since we use `collections.Ordered

[2019-08-04 13:00] gfrances commented on #63
This is implemented now, but I'll leave this open a few more days to see if I can test how this plays with the LP grounder.

[2019-08-04 13:09] gfrances opened #71 "Creating a barebones FSTRIPS language should not import arithmetic sorts"
When creating a barebones FSTRIPS language with e.g. `lang = fstrips.language("test")`, we should not automatically attach to the language any sort other than the base `object` sort. See commit 881f9df for a test reproducing this that is currently failing.

[2019-08-06 10:17] gfrances commented on #71
This is now solved in `devel` by PR #72

[2019-08-06 10:17] #71 closed

[2019-09-12 08:31] anubhav-cs opened #73 "Error in processing negated preconditions"
Faced following issue while running some tests on openstacks ipc benchmark problem.

Error in method `LPGroundingStrategy._solve_lp`:-
1. When negated atoms in action preconditions, for example precondition `(not (made ?p))` in `setup-machine` action causes an error `/tmp/tmp6_w8s8li:676:62-63: error: syntax error, unexpected (`.
2. The content of file `tmp6_w8s8li` at  line `676` is `move(Curpos,

[2019-09-14 02:18] anubhav-cs commented on #73
@gfrances I had a query. How would tarski handle the negated preconditions like `(not (made ?p))`. Currently, I get an [error](https://github.com/anubhav-cs/tarski-tests/blob/master/error.log), where the file [tmp5pun7pck](https://github.com/anubhav-cs/tarski-tests/blob/master/tmp5pun7pck) shows that the rule for `head` - `setup__machine(P, Avail)` has a `-None(P)` lp-atom.

[2019-09-16 08:32] gfrances commented on #73
Yes, that appears to be a different issue, give me a couple of hours and I'll look into that as well. Thanks for the report again!

[2019-09-16 11:33] gfrances commented on #73
Negated literals in preconditions and goal should no longer be a problem - they are now assumed to be true, as per Helmert, Concise finite-domain representations for PDDL planning tasks, Section 6.1.3.
Let me close this issue and open a new one for the handling of universally-quantified preconditions, which indeed is yet not implemented.

[2019-09-16 11:33] #73 closed

[2019-09-16 11:45] gfrances opened #74 "Handle forall quantifiers in LP-based reachability compiler"
As described in #73 by @anubhav-cs, the LP-based reachability compiler still does not handle universal quantifiers. We should implement that ASAP. Issue #73 contains some other hints and code for that.

[2019-09-16 12:07] miquelramirez commented on #74
Does this need to be part of the default grounding pipeline for `tarski` @gfrances or it is something for the user to decide whether or not to do?

We have implemented already universal quantifier elimination in the framework, so it should be possible to reuse that code to compile away `UniversalEffect` into many `LogicalEffect`. Correct me if I am wrong, but then we could just use the LP grounder

[2019-09-16 12:47] gfrances commented on #74
No, at the moment I cannot think of any better way of doing this than simply compiling away the universal quantifiers over the finite universe of the problem (note that the issue is about standard universal quantification in formulas, not about `UniversalEffects`!). Meaning that upon the user requesting any LP⁻related operation on some problem that features some universal quantifier in preconditio

[2019-09-17 11:29] anubhav-cs commented on #74
@gfrances @miquelramirez - I compiled away `(forall ...)` universal quantifiers in the preconditions using the `UniversalQuantifierElimination`. However, for a specific case - `(forall ... (imply ...))`, which is transformed into a compound formula with `connective.Or` in NNF form, the test results in error.

    /tmp/tmpt9bkmrj5:229:1-18: error: unsafe variables in:
     __f1(P):-[#inc_base];1=1.

[2019-09-17 11:38] miquelramirez commented on #74
Hi @anubhav-cs,

yep, if you have an imply you'll have to transform the formula into `DNF` and split the operators as per Gazen and Knoblock (so you end up with one operator per clause of the DNF formula).

Miquel.

[2019-09-17 16:20] gfrances commented on #74
Hi @anubhav-cs,

this was due to a bug in the generation of the auxiliary LP rules that are created for subformulas such as disjunctions. Say we have a precondition "p and (q or r(x))". The logic program we generate will create an auxiliary predicate with some name like `__f3(X)`, whose semantics will informally be "the subformula q or r(X)" is reachable. This is translated into LP rules

    __f3

[2019-09-17 16:20] #74 closed

[2019-09-18 04:23] miquelramirez commented on #74
Thanks @gfrances , @anubhav-cs is testing this atm.

[2019-09-18 05:49] anubhav-cs commented on #74
Thanks @gfrances, I have tested it on sample problems and it is working fine.

[2019-09-18 16:26] gfrances opened #75 "Discussion: formula simplifications and LP relaxation"
As a result of #74 and of previous code by @miquelramirez, we can now expand universal / existential quantifiers in order to e.g. generate logic program - based reachability analysis. When doing so, the formulas we obtain could be greatly simplified by taking into account the values of *static* atoms in the initial state. As an example, in the action `make-product` `Openstacks` we have a precondit

[2019-09-18 23:41] miquelramirez commented on #75
We could implement this simplification straight away.

Yep, look like a very easy win on a benchmark that has been quite hard to process... not in small part because of redundant constraints we weren't able to determine to be redundant in the first place.

That is clean, easy and quite efficient too.

I think that as part of the universal quantifier elimination you have  to transform everying to N

[2019-09-19 10:01] anubhav-cs opened #76 "Bug in cnf.py"
`cnf.py` Devel branch-

    def to_conjunctive_normal_form(phi, do_copy=True):
        trans = CNFTransformation(phi, do_copy) ---- Issue
        return trans.convert()

    class CNFTransformation:
        def __init__(self, lang, phi, do_copy=True):

*Issue* - In `trans = CNFTransformation(phi, do_copy)` value for `lang` is not passed. Hence, when `CNFTransformation` type `trans` object is creat

[2019-09-19 10:03] gfrances commented on #76
Thanks for the catch! Would you like to create a PR (preferably against the `devel` branch)? If you don't have time don't worry, I can fix this today or tomorrow.

[2019-09-19 10:12] anubhav-cs commented on #76
Sure @gfrances

[2019-09-19 10:55] gfrances commented on #76
This is fixed now in PR #77

[2019-09-19 10:55] #76 closed

[2019-09-22 11:03] anubhav-cs opened #78 "Error while grounding problem and domain with '(:functions ...)'"
Encountered an error while grounding `ecai-12/scanalyzer` domain problems, when the function `create_reachability_lp` processes the atoms in the `problem.init`. This is specific to the domains where `(:functions (total-cost) - number)` is used and in `init` we have a formula `(= (total-cost) 0)` .  Do I need to transform them?
The issue can be reproduced by cloning [tarski-test](https://github.com

[2019-09-23 10:14] gfrances commented on #78
The LP-based component is not ready to deal with functions, but this could certainly be qualified as a bug, we should (1) give a more informative error, and (2) in this particular case of the one only function being the `total-cost` function, which is irrelevant for the reachability analysis, we should simply ignore it. I might be able to fix this later this week, but for the moment being if you n

[2019-10-17 12:25] anubhav-cs opened #79 "Error: while parsing ipc-2011/tidybot, ipc-2014/seq-sat/Floortile and ipc-2011/parcprinter"
Encounter few issues while parsing  <ipc-2011/tidybot> and <ipc-2014/seq-sat/Floortile> domains, and grounding<ipc-2011/parcprinter> domain (Devel branch)

_Reproduction_:- The issues can be reproduced by cloning [test-tests](https://github.com/anubhav-cs/tarski-tests/blob/master/old_test-suite) and running test.py (different domain and problem files can be loaded from line 163-178 in the code).

[2019-10-17 22:42] miquelramirez commented on #79
Regarding Error #2 you could in principle have a construct like `(cart cart)` in PDDL, as each of the `cart` tokens would be assigned a unique semantic role (the first a predicate, the second an object). The issue is that then you would not have a well defined first-order language, IIRC it is not allowed to have the same symbol map to objects belonging to different sorts, or worse, symbols mapping

[2019-10-21 23:06] anubhav-cs commented on #79
I did some runs on domains in various [benchmarks](https://github.com/anubhav-cs/tarski-tests/tree/master/benchmarks), and I am including a  [csv file](https://github.com/anubhav-cs/tarski-tests/blob/master/benchmarks/tarski_grounding_status.csv) with status of success/error. Also, there is a [zip](https://github.com/anubhav-cs/tarski-tests/blob/master/benchmarks/tarski_grounding_error_logs.zip) w

[2019-10-28 18:13] gfrances commented on #79
Hi @anubhav-cs. This is all very useful, thanks for the reporting.
I have fixed the bug in parcprinter, which was due to poor handling of actions starting with capital letter (Clingo assumes that anything starting with a capital letter is a variable). I have also fixed the problem with `total-cost` atoms, which are now properly ignored.

I'll try to test tomorrow with some more of the domains you

[2019-10-29 14:07] gfrances commented on #79
I have added some extra tests for some of the buggy domains you mentioned, @anubhav-cs. Since many of the problems arise because of incomplete `requirement` sections in the PDDL domain, I have implemented a simple "lenient" parsing mode that can be configured on demand and assumes that this requirements are specified even if they are not. You can check the details of how to use this [here in the r

[2019-10-29 14:07] gfrances commented on #78
This should be fixed with the latest changes in devel

[2019-10-29 14:07] #78 closed

[2019-10-30 13:58] anubhav-cs commented on #79
Thank you very much @gfrances, I will run the grounder on the domains again and let you know.

Also, I noticed that the grounder generates temp files in `/tmp` folder on Ubuntu. These are not deleted after each run and can pile up to few gigabytes if left unchecked.

[2019-11-28 19:14] anubhav-cs commented on #79
Hello @gfrances @miquelramirez,

I have uploaded a [tarski test-suite](https://github.com/anubhav-cs/tarski-tests), which can be used to test grounding for 1 problem from each of the 146 domains in [classical domains](https://bitbucket.org/planning-researchers/classical-domains/src/master/). There are some `failure_report.csv` and `status_report.csv` along with the `stderr.log` files in the repo,

[2019-11-29 01:21] miquelramirez commented on #79
Thank you very much @anubhav-cs for tracking down these issues and doing the work of cataloguing them.

[2019-11-30 05:21] anubhav-cs commented on #79
Hi @miquelramirez @gfrances,

A particular [problem.pddl](https://github.com/anubhav-cs/tarski-tests/blob/master/classical/tetris-sat14-strips/p026.pddl) in Tetris [domain](https://github.com/anubhav-cs/tarski-tests/blob/master/classical/tetris-sat14-strips/domain.pddl), from IPC-2014, is resulting in duplicate definition [error](https://github.com/anubhav-cs/tarski-tests/blob/master/tetris-sat14-

[2019-11-30 11:08] anubhav-cs commented on #79
@miquelramirez @gfrances
Upon more extensive testing across all problems in IPC-2018, I have noted the following additional issues.

1. [Flashfill domain](https://github.com/anubhav-cs/tarski-tests/blob/master/classical/flashfill-sat18/domain-p15.pddl)  - [p15](https://github.com/anubhav-cs/tarski-tests/blob/master/classical/flashfill-sat18/p15.pddl) - gringo runs out of memory - [error](https://g

[2019-12-02 01:28] miquelramirez opened #81 "Issues introduced by `PySDD` dependency"
I have found a number of issues related to the `PySDD` dependency that got added to the `devel` branch. These are all third-party issues which we cannot do much about.

All of the following are results obtained under `Python 3.6.4` and `pip 19.3.1`:

*Issue no. 1*: There is an ongoing issue with `pip` and binary dependencies that need to be built that prevents from using `pip install --user -e .`

[2019-12-03 13:16] gfrances commented on #81
Hi Miquel,

I've also found some other "incompatibilities" with our packaging from the PySDD library, which was breaking our travis builds, as it doesn't seem straightforward to build and install the dependencies correctly. One way to aleviate this could be to install the tarski.sdd module only optionally. In the `setup.py` script you can specify "optional" dependencies that will get installed onl

[2019-12-04 01:24] miquelramirez commented on #81
Hi @gfrances,

I suspected that automated systems like Travis would not like what PySDD does to install itself. One big problem is that the `cysignals` is not packaged for Python 3 in Ubuntu 18. That means that you have to rely on installing both `cython` and `cysignals` via `pip`. Which is not terrible, since official LTS Python packages are usually hopelessly out of date. Maybe is there a way to

[2019-12-04 08:58] gfrances opened #82 "Minor bug in ASP preprocessor"
In the current `devel` branch, when creating reachability logic programs, type hierarchies are processed incorrectly, as the `type` prefix is not always used in the LP rules, see e.g. the following LP rule from an instance of the organic synthesis domain (organic-synthesis-opt18-strips:p01.pddl):

    type_chemical_atom(X) :- phosphorus(X)

[2019-12-04 09:05] #82 closed

[2019-12-04 09:21] gfrances opened #83 "Ignore unused types in LP reachability module"
At the moment PDDL types that have no particular PDDL object which is of that type in the problem instance result in an annoying but reasonable warning from `gringo`, of the style:

    info: atom does not occur in any rule head:
        type_magnesium(X)

I'd like to get rid of this, so that the error stream is not muddied with these useless messages.
This shouldn't be difficult, as we know which

[2019-12-04 09:32] #83 closed

[2019-12-04 10:19] gfrances commented on #83
Ok, I was too optimistic about this, the issue as described was fixed, but turns out it is not so easy to get rid of all gringo warnings: in some `organic-synthesis-opt18-strips` instances, for example, there are precondition atoms `triplebond(X, Y)`, but no atom `triplebond` at all, which causes similar warnings. However, I don't see a straightforward way of getting rid of these, because the acti

[2019-12-04 10:21] gfrances commented on #83
(but still: if we had some simple `simplify_problem` procedure, it could get rid of these type of actions, e.g. by realising that such an action is statically not applicable, and removing it from the problem; and doing similarly for types that are empty, etc. Would be a welcome addition to preprocess most problems and get rid of this silly issues that keep arising.

[2019-12-04 22:46] gfrances commented on #79
Hi @anubhav-cs ,

thanks for the extensive reporting. I've fixed some bugs in the ASP component, although not sure if they are the ones you report. I'll be checking this as I find time. BTW, I wonder if it could be a good idea to integrate the test scripts you've developed into the main pytest scripts for tarski?

As for the issue with the temporary files in /tmp, since commit 89ed35d380 now we re

[2019-12-05 09:06] anubhav-cs commented on #79
Hi @gfrances ,

Thanks for fixing the `tmp*` files issue!

Also, I agree that it is a good idea to integrate the test scripts into Tarski. Unfortunately, I didn't create the scripts with `pytest` in mind. Currently, a shell script `test.sh` invokes the `taski_test.py` python script for each domain, generates status report and redirects stderr to log files. I will make a single python file later th

[2019-12-05 10:43] gfrances commented on #79
About this `strict_with_requirements` option, I fixed some bug yesterday night, so maybe that accounts for your observation?

[2019-12-05 15:37] anubhav-cs commented on #79
The tests were done on the latest commit, but I saw the errors last week as well. I am seeing a new error as below, in multiple domains, when `strict_with_requirements=False`. There is no such error when  `strict_with_requirements=True`.

       tarski.errors.DuplicateFunctionDefinition: Duplicate definition of element "ite": "ite"

[2019-12-05 15:44] gfrances commented on #79
Oh I see, this is the bug I thought I had fixed, but apparently I didn't push the changes, since I don't see them in the commit log - sorry for that, I'll push that on the weekend, as I am away until then. I'll also have a deeper look at the test results then.

[2019-12-09 02:32] anubhav-cs opened #84 "FstripsReader - plan_metric property of problem object returns None"
Hi @gfrances @miquelramirez ,

Observed that `problem.plan_metric` property returns `None` for the domains which do have `:metric` defined in the pddl, for example - _IPC-2018->flashfill and organic-synthesis-split_.

Attempted to use _fstripsParser's_ `optimization` and `metricSpec` rules, but couldn't get them to populate the _metric_ _expression_ and _type_ .

This info is required to setup act

[2019-12-09 04:19] miquelramirez commented on #84
Hi @anubhav-cs ,

[this commit](https://github.com/aig-upf/tarski/commit/3b654d85ab79361be96796457feca0ad603b87c7) should solve the issue: see if the all the tests for `tests_fstrips_parsing` are executing correctly. The problem was a typo in `FStripsReader.visitProblemMetric`, that's the event handler that the parser calls whenever it comes across a `(:metric ...)` construct. We were storing the

[2019-12-28 18:06] gfrances commented on #84
Looks like this is solved, I'll close the issue!

[2019-12-28 18:06] #84 closed

[2019-12-28 18:36] gfrances commented on #81
Installing the sdd is now optional, as detailed in the readme.md (see commit 14e1a6d14a7ce334cf4192fefeb9e62902238303 for details). I'll close the issue, but feel free to reopen if necessary!

[2019-12-28 18:36] #81 closed

[2019-12-28 18:39] #63 closed

[2019-12-30 09:28] gfrances commented on #5
We finally integrated the FS planner with Tarski through a "json" writer, but the json writer is relatively dependent on the hacks and needs of the FS planner, so it lives as an "adapter" in the FS codebase. I don't think there's a need to write a separate, slightly more standard "json" writer here though, as in the mid term we'd like to expose functionality through python bindings. I'll close the

[2019-12-30 09:28] #5 closed

[2019-12-30 09:41] gfrances opened #85 "Provide reachability analysis for simple FSTRIPS problems"
For FSTRIPS problems that make a simple use of function symbols, it might be worth extending a bit our ReachabilityLPCompiler to support them. For instance, a precondition `loc(b1)=b2` in a functional version of blocksworld can be dealt with by using a predicate symbol `loc'(b1, b2)`, and so on. An FSTRIPS action

    pick-up(b: block)
        PRE: clear(b)
        EFF: holding(b), clear(loc(b))

[2019-12-30 10:17] gfrances commented on #19
The ASP grounder in Tarski finally doesn't feature these `equal` / `not_equal` predicates, but standard `=` Gringo predicates

[2019-12-30 10:17] #19 closed

[2019-12-30 12:16] gfrances commented on #79
Hi @anubhav-cs , @miquelramirez . Commit 32876c9 (in `devel` only) changes a bit the formulation of the reachability LP to align it with the one described by Malte in his paper. The change is that now we ignore atoms of the form X!=Y in preconditions and goal, whereas before we were mapping them to LP atoms X != Y (with which BTW we could no longer guarantee polynomiality of the preprocessing!). P

[2019-12-30 12:18] gfrances commented on #79
(btw if you test this, take the latest commit on `devel`, there was a weird bug that was arising when using old versions of Gringo that is now fixed)

[2020-01-24 17:31] abcorrea opened #86 "Keep negated static preconditions in logic program for grounding"
In the logic program used for grounding, Tarski either (i) removes all negated preconditions, or (ii) keeps all negated preconditions.
An intermediate approach would be to simply keep negated preconditions involving static predicates. This could have a positive effect because static predicates do not appear in the head of any rule and thus there is no way they could form a cyclic dependency via ne

[2020-01-28 00:05] miquelramirez commented on #86
Thanks for the feedback @abcorrea ,

one possible way to do this would be to have the static predicates to have associate "empty rules" of the form

[code]

where `pred` is the static predicate (detected via simple syntactic analysis of the input pddl) and `X`, `Y` would be the schema arguments.

Would that have the intended meaning, @gfrances ? Or you need to use `-` instead of `not`? I am readin

[2020-01-28 08:33] abcorrea commented on #86
I think this does not work as we intend. This rule would mean "```pred(X, Y, ...)``` has to be part of the model", but since ```pred``` is static, if ```pred(X, Y, ...)``` is true in the initial state, it will be in every model; and if ```pred(X, Y, ...)``` is not true, then it cannot ever be possibly true because no action produces any ground atom with predicate symbol ```pred``` (because it is s

[2020-01-28 08:59] gfrances commented on #86
I think you're right about the semantics of the problem, augusto, but I am not sure about the polynomiality claims... why would it be polynomial? Looks like you can reduce a CSP to the problem of grounding a single action schema, even if all predicates are static and there is no negation at all?

[2020-01-28 10:12] abcorrea commented on #86
I think we might be talking about different complexities (program vs data complexity). Could you have a look at Theorem 5.1 in "Complexity and Expressive Power of Logic Programming" (Dantsin et al. 2001)?
As I understand it, the theorem says that Datalog with stratified negation (our case in this context) is P-complete considering data complexity and EXPTIME for program complexity.

[2020-01-28 11:06] miquelramirez commented on #86
@gfrances if all the predicates (constraints) are binary, and there's no cycles in the causal graph, arc-consistency over every pair of variables results in a globally consistent CSP. So that would be an example of a schema grounding CSP that is tractable.

[2020-01-28 17:03] gfrances commented on #86
No, I meant that you can reduce any CSP to the problem of checking whether there is any reachable grounding of an (effect-free) action schema from an initial state given by the extensional relations of the CSP. But as augusto points out, this is irrelevant *for a fixed domain*. BTW Augusto, I assume the results in that paper are for ground logic programs? Program / data complexity here are analogo

[2020-01-28 17:18] abcorrea commented on #86
I suggest the lecture by Gottlob as a reference, instead of the full paper, if one of you want to have a look: http://www.cs.ox.ac.uk/files/1018/gglecture7.pdf

About the complexities, I think Guillem confused them. From the lecture:
- Data complexity: assume that the logical program is *fixed*, and the database (in our case, initial state) is the variable input
- Program complexity: assume that t

[2020-01-28 22:32] miquelramirez commented on #86
Thanks very much for the pointer @abcorrea - those slides explain beautifully what you meant. I have very little background on logic programming, other than doing some incidental programming on Prolog like 20 years ago and more recently misusing(?) `Gringo` , so I appreciate very much the resource.

[2020-01-28 23:16] miquelramirez commented on #86
I don't understand what was the intent for this statement, or how it relates to the existence of tractable CSP classes. It is fact that DATALOG is P-complete, it is not a general language to specify arbitrary CSPs.

On the other hand @abcorrea I wonder how that Theorem relates to these results on the expressiveness and complexity of DATALOG, and the complexity of determining entailments from logic

[2020-01-29 09:14] abcorrea commented on #86
@miquelramirez I agree with your comments that this is not really our setting. Unfortunately, even in the community itself, it does not seem to have a common sense about when to use each complexity.

The introduction from the paper "On the Complexity of Database Queries" by Papadimitriou and Yannakakis (1999) explains the difference and problems arising from each definition of complexity. They tal

[2020-02-17 23:45] miquelramirez opened #87 "Missing documentation of dependencies with `gringo`"
We need to add to the `README.md` instructions about how to setup `gringo` and friends for `tarski`.

[2020-03-12 10:56] gfrances opened #88 "Finish implementation of simple evaluator"
The `evaluate` method at <src/devel/src/tarski/evaluators/simple.py> has been unfinished for a long time, and still does not support quantification. We should finish this.

[2020-05-25 08:07] gfrances opened #89 "Don't print `:numeric-fluents` on the PDDL writer if the only use of arithmetic is for cost function updates - use instead `:action-costs`"
@emilkeyder reports in Slack:

This could be addressed by refining the conditions under which `:numeric-fluents` is printed: instead of printing it every time `Theory.ARITHMETIC in problem.language.theories`, we could e.g. do a bit more work and check which functions have some numeric sort. If it is only `total-cost` then there's no need to print that requirement; otherwise, we print it

[2020-05-25 08:27] gfrances commented on #89
Test added for this, should be fixed now.

[2020-05-25 08:27] #89 closed

[2020-05-25 15:23] emilkeyder-invitae commented on #89
Thank you!

[2020-06-10 15:43] mejrpete opened #90 "General RDDL Improvements & Support"
As discussed on The Planning Community slack (with Guillem Francès and Emil Keyder). I am interested in extending the existing RDDL support in tarski (and want to do it as much as possible in consultation with the maintainers!). The goal of this issue is to discuss general improvements, identify which are relevant to the core tarski project, and make sure implementations of new features and suppor

[2020-06-10 23:37] miquelramirez commented on #90
Hello @mejrpete ,

thanks very much for your interest in `tarski`, and I welcome too your interest into `RDDL`.

As far as I know, the only big use case of the current RDDL support in `tarski` are [these benchmarks](https://github.com/miquelramirez/yowie-benchmarks/tree/master/src/yowie_rddl), which represent one of the three use cases @gfrances  and me had in mind when we started this project:

[2020-06-12 14:34] mejrpete commented on #90
Great! Thanks very much. These benchmarks for code generation help a lot for context. I have a few specific questions/issues that are directly related to what I'm currently working on (specifically on the "`tarski` problem generator" use case) related to boolean-valued fluents and RDDL-style conditionals which can probably be pulled into a separate issue. I think that's probably the best place to

[2020-06-12 16:48] mejrpete opened #91 "Boolean-valued fluents and RDDL-style boolean & numeric interoperability"
Related to #90

(Sorry for the amount of text here! I also hope I'm understanding the moving parts in `tarski` correctly, or else I might not be making much sense.)

RDDL has a number of language features and expected behaviors related to boolean and numeric-valued action and state fluents that do not appear to be fully supported by `tarski`.  These include

* Arithmetic over state and action valu

[2020-06-13 02:11] miquelramirez commented on #90
No worries @mejrpete happy to hear that those problem generators illustrated use case #1 and provided some context.

[2020-06-13 02:19] miquelramirez commented on #91
Hi @mejrpete,

I will get back to you in more detail by next week but just some quick notes:

- Summations and products are implemented in `tarski`, you can find them illustrated in this [test](https://github.com/aig-upf/tarski/blob/master/tests/fol/test_syntax.py) specifically test cases `test_sumterm()` and `test_prodterm()`.
- The if/then/else construct is also supported - we call it `ite` - in

[2020-06-15 14:45] mejrpete commented on #91
@miquelramirez well, that is embarrassing! You are absolutely right that `sumterm` implements the summation functionality I was looking for. Additionally, on closer inspection I believe that the behavior I had seen with `ite` was actually just an instance of the lack of implicit Boolean/Integer type conversion in an example I was working with. I should have been more careful before casually saying

[2020-06-15 23:40] miquelramirez commented on #91
No need to apologize @mejrpete ! Nothing of this is documented :)

Feedback on these features is very welcome, as I pretty much got them in to support the modelling of RDDL domains in the style you suggest.

One important thing is that in `tarski` we make a distinction between *predicates* and *functions*. This follows from a very specific tradition in how to present first order logic, where boole

[2020-06-16 08:06] gfrances commented on #91
Thanks @mejrpete for your comments. I am not 100% sure that the workarounds mentioned by Miquel would be enought to have proper support for the kind of RDDL expressions discussed above:
* Our support for If-then-else expressions I would label as preliminary, and ITE expressions don't fully fit with the atom and term requirements that we have in place, as the first component will be a formula, not

[2020-06-16 18:09] mejrpete commented on #91
@miquelramirez @gfrances thank you both for your detailed replies!

I believe (based on the information above and a bit of quick testing) that @gfrances is correct that the workarounds mentioned above fall short of allowing for modeling of the kind of RDDL domains I'm working with. @gfrances observation that 0/1 functions can't be used with logical connectives to form logical formulas being the ma

[2020-06-16 18:13] mejrpete commented on #91
Sorry if this isn't the right way to do this, but @emilkeyder-invitae asked that I add him to this conversation when we last spoke, and an at-mention is the only way I know how to do it on a repo that I'm not a contributor for. Mentioning him here so he gets notified of where this is.

[2020-06-19 21:12] emilkeyder-invitae commented on #91
Thanks for adding me Pete. I haven't looked at tarski for a while, but the last approach you outlined above that would (dis)allow casting between the two types based on the presence of a theory sounds like a reasonable approach to me. @miquelramirez, @gfrances, do you think it makes sense for the direction you want to go with tarski? Would it be helpful if Pete did a quick sketch of what the code

[2020-06-28 18:52] gfrances commented on #91
Hi @mejrpete, Emil, and sorry for the slight delay.

I think it'd definitely make sense to start an exploratory branch / PR / fork, whatever you guys are more comfortable with, and I would definitely try to help a bit with that.

As for the best design to start with that: I fear that trying to keep everyone happy by having some "theory", or similar mechanism, change the way functions and predicate

[2020-06-28 22:43] miquelramirez commented on #91
I think that going for the full SMT-like representation is the way to go, as you say @gfrances it will be paying off handsomely in the mid term. Maybe @mejrpete can generate those test cases in a dedicated branch, which we can use to harness the refactoring.

[2020-07-09 16:31] mejrpete commented on #91
Thank you both for your responses! I think a full SMT-like representation would work great, especially if going that route is the preference for both of you. I can definitely see the value of reducing the complexity of the internal representation that way.

@miquelramirez I would be happy to generate a selection of test cases to drive the refactoring. My tendency would be to focus on RDDL/FSTRIPS-

[2020-07-09 16:52] emilkeyder-invitae commented on #91
Would it be feasible to make Predicate an alias for bool valued Function?
That way it might be possible to keep most of the test code the same.

On Thu, Jul 9, 2020 at 12:31 PM mejrpete <notifications@github.com> wrote:

[2020-07-10 07:36] gfrances commented on #91
Hi guys,

@mejrpete, I would branch from `devel`, not `master`. Next week I could have some time to help a bit with the refactoring, so if you think there's room for that and it fits your schedule, let me know and I could set apart some time.

I'm not opposed to keeping some "alias" for Predicate (not sure what kind of Python thing you have in mind for that).
We can of course keep API methods such

[2020-07-10 14:31] mejrpete commented on #91
@gfrances Understood! I will branch from `devel` instead. I definitely have time (between this weekend and next week) to get some necessary tests implemented and work on the refactor. I'll get those tests implemented and get the PR up sooner rather than later so that can be all in place.

I'm also not sure what python mechanism would be best for that. I suppose the pythonic way to deal with it wou

[2020-09-18 11:28] gfrances opened #92 "Switch from GPLv3 to Apache Software Licence 2.0"
After some internal and external discussion, and with the agreement of all project contributors, we've decided to switch licence to the Apache Software Licence 2.0. This issue is just to keep track of the change / make it more explicit.

[2020-09-18 11:55] gfrances opened #93 "Sort out overloaded arithmetic symbols"
Arithmetic symbols like "+", "-", etc. currently have a single sort: Real x Real -> Real.
While simple, this has the incovenient that a term such as `Constant(1, lang.Integer) + 1` has sort `Real`.
It would be great to have a better type deduction system, perhaps involving several arithmetic functions linked
to the same symbol.

[2020-09-18 12:06] gfrances commented on #93
Note that part of this is implemented in branch `set_types`, see e.g. commit ad782869a3c1730308a6152b64d76fb1e57cdb72,
but still need to see how to integrate that.

[2020-09-18 12:14] gfrances commented on #92
This is now changed in the new release 0.6.0

[2020-09-18 12:14] #92 closed

[2020-09-21 08:40] gfrances commented on #91
Hi @mejrpete , just wondering if you ever had the chance to start with this? I could have some time these upcoming weeks to help on it if there's still interest.

[2020-09-21 21:06] mejrpete commented on #91
@gfrances Thanks for checking in. Sorry I dropped off the face of the earth after this discussion.

This past week I just wrapped up some progress on this --- although not 100% in the direction that we had previously discussed.

Because of the scale of the SMT-like representation refactor (and the fact that there appeared to be some necessary API changes), I had encountered a bit of difficulty wri

[2020-09-21 21:47] miquelramirez commented on #91
Hi @mejrpete,

great to hear from you, and that you have been making significant progress. I am also going to start using (again) the parts of Tarski that interface with `RDDL`, so it is indeed good timing.

My preference would be a PR, as github makes very easy to track changes and keep the discussion in context.

One important bit that we haven't really discussed - because it is not entirely sur

[2020-09-22 07:01] gfrances commented on #91
Hi,

I'd also love to see that PR and be able to contribute!

Interesting point, Miquel. What would you suggest? Is this easier to handle if we just stay at the representational level,
i.e. don't care about what a planner might want to do with these actions, and just make a distinction between action variables and state variables, and represent the constraints between them? Aren't we doing that al

[2020-09-22 07:21] miquelramirez commented on #91
I think that Scott didn't want to rile up people and decided to call "action variables" what he would have probably wanted to call "decision variables".

One of the elements in the gap is how do you define the transition function. In planning languages very specific frame axioms are assumed, this then allows to define the transition function very efficiently.

In RDDL the transition function is fu

[2020-09-22 07:32] miquelramirez commented on #91
In what respects language support we don't assume an interpretation, we just expose a nicer AST :)

[2020-10-02 13:58] mejrpete commented on #91
Hi all --- apologies for the delay. I have just submitted the PR as discussed above! However, I realized when submitting it that Github doesn't appear to support (I think Bitbucket used to at least) requesting a new branch in the PR, it only allows me to submit a PR to an existing upstream branch. I submitted this as a PR against `devel`, but I think the smarter thing to do would be to open a new

[2020-10-02 14:08] mejrpete commented on #91
In terms of the action/decision representation --- I agree that the representation in RDDL is significantly different than in PDDL/FSTRIPS representations. This hasn't been a problem for us on our project thus far, since our domains have only boolean-valued action fluents and the parser/planner(s) we are using are grounding the entire problem, including the action representation, so that at solve-

[2020-10-05 22:43] miquelramirez commented on #91
Hello @mejrpete.

Thanks very much for the PR @mejrpete, I will start reviewing it soon.

Thanks for sharing a bit more details about your use case.

That is something I have been working on for quite some time in parallel to the main `tarski` repository for quite some time. After working on that for a couple years I discovered that the modeling challenges I was trying to address, have already bee

[2021-04-01 00:56] haz opened #98 "Domain-only parsing"
Would be extremely useful to be able to parse just the domain without an associated problem file.

[2021-04-04 16:29] gfrances commented on #98
Hi Christian!

Actually, one thing that I often do in some projects using Tarski is:

[code]

Where `problem` now has all of the problem components defined in the domain file alone.
In particular, `problem.language` contains the first-order language defined by the domain,
except of course for the objects that are defined on a per-instance basis.

Would this be enough for your use case?

[2021-04-26 19:00] haz commented on #98
Ah, k. So it's a language thing -- the problem object exists, even if it's uninstantiated.

I have more questions, but this would certainly be unrelated to this issue. Can someone one of you enable the chat functionality for this repo so we can have a conversation there on it? Some thoughts may lead to issues, and some may not.

[2021-04-26 19:00] #98 closed

[2021-05-07 05:30] gfrances commented on #98
Good to know there's a new chat functionality! Sorry for the delay, Cris, it's enabled now if you want to continue the discussion there.

[2021-06-01 14:25] mejrpete commented on #91
Hi all! I know it has been a long time, but wanted to pop in and reconnect. A few of us including @emilkeyder-invitae and @AnaghaK (I don't know if that mention is going to work correctly) have been discussing the features implemented here and as part of the associated PR from last year. Our discussion was in context of what might be needed to get this branch (and associated features) to a point w

[2021-06-02 10:34] miquelramirez commented on #91
Hold on there @mejrpete! It's been a turbulent 2020 (and 2021 is throwing some curveballs to me at the moment as well!). Believe or not I have been looking at this on-off for the last year, and until recently I haven't had a excuse (being a post-doc who is "supposed" to work on certain things) to put time into `tarski`-based projects until last February.

I am happy to respond to you over here. Th

[2021-06-02 11:56] #29 closed

[2021-06-02 11:57] miquelramirez commented on #28
Still work in progress - will open up new issue as we gather more clear feedback.

[2021-06-02 11:57] #28 closed

[2021-06-02 13:07] miquelramirez commented on #91
Hi Pete,

let me reiterate our gratitude for your interest and the effort put into the refactor. I was quite surprised that the changes you needed to make turned out to the core classes was relatively small. The side-effects on the effect classes and the like were less so in my opinion.

### Feedback on the `rddl-refactor` branch

1) References from syntactic elements to the language object

Once

[2021-06-02 16:52] mejrpete commented on #91
@miquelramirez Thanks so much for your detailed comments and your sharing of the representational approach you have been working to support the temporal fragment of `NDL`! This is a great way to get this conversation moving. I need to spend a little more time looking through the two gists you shared, so apologies if any of the below is slightly off base re: portions of those files that I haven't f

[2021-06-03 13:40] miquelramirez commented on #91
Hi Pete,

Thanks very much for the kind words, @mejrpete. Your approach made perfect sense too, and I agree with your notes that it had some side effects which would be best to avoid. But I have an unfair advantage which is that 1) I co-designed `tarski` so I know stuff like the `attach_sort` method, which is kind of a "library developer" method rather than "application developer" one, and 2) I us

[2021-06-03 22:34] miquelramirez commented on #91
Hi againg @mejrpete ,

I was reviewing what I wrote last night and now I realise that the above is actually nonsense!

The actual way forward now I think would be to coerce the expression to be of type `Integer` if the arguments are some sub-sort of `Integer`. onto `Real` if the arguments are a sub-sort of `Real` and again onto `Real` if we have a mixture of `Integer` and `Real`. Alternatively, we

[2021-06-17 16:43] mejrpete commented on #91
@miquelramirez Sorry for the slow response this time! Thanks for the rigorous response. I completely agree that this makes sense from a representational standpoint. I also agree that it's perfect to not have to ruin the core FSTRIPS functionality in `tarski` by messing around with predicate :)

I think migrating the tests I wrote for RDDL (although they're incomplete re: covering parsing from RDDL

[2021-06-21 10:30] miquelramirez commented on #91
No worries @mejrpete - I am also a bit swamped at the moment :(

I couldn't help smiling :) that you were non-plussed by the ```~( exists_{?c2 : course} [ PREREQ(?c2,?c) ] )``` - every time I have looked at these instances I have got a headache.

IIRC ```PREREQ(?c2, ?c)``` is an input, a piece of data that we represent with a Boolean term/predicate, which does not appear on the left hand side of a

[2021-07-09 14:48] haz opened #113 "Generated PDDL is missing the object type"
Either actions/fluents shouldn't have `- object` types included, or the `object` type should be included on export. From an untyped domain, we read/write and wind up with something that fails.

http://editor.planning.domains/#read_session=A0K4xBtDuZ

Adding `object` to line 9 of the domain file makes it solve.

[2021-07-09 14:49] haz commented on #113
@gfrances If you let me know what the fix should (roughly) be, and the branch to work off of, I can try to put something in.

CC: @beckydvn

[2021-07-09 19:43] alvalentini opened #114 "Bug parsing real constant"
I got an error running the following code:
[code]
Input: [pddl files](https://github.com/aig-upf/tarski/files/6792542/pddl_files.zip)

Possible patch:
[code]

[2021-07-10 07:29] miquelramirez commented on #114
Thanks @alvalentini for reminding us of that comment "For the moment being..."

@gfrances I remember we had decided to interpret `number` as an integer to avoid breaking something... can you remember what was that? If you can't, then it is definitely time to move on and respect the PDDL 2.1 specification.

[2021-07-10 07:31] miquelramirez commented on #113
Hi @haz,

feel free to work on `devel`.

[2021-07-10 07:34] #70 closed

[2021-07-10 07:34] #22 closed

[2021-07-10 07:36] #4 closed

[2021-07-10 07:36] #13 closed

[2021-07-10 07:36] #12 closed

[2021-07-10 07:37] miquelramirez commented on #45
We already have basic search features available

[2021-07-10 07:37] #45 closed

[2021-07-10 07:37] #53 closed

[2021-07-10 07:38] miquelramirez commented on #79
I think we got past this issue already

[2021-07-10 07:38] #79 closed

[2021-07-10 07:39] #42 closed

[2021-07-10 12:20] haz commented on #113
Ack. And desired behaviour? No types on actions/predicates or object type declared?

[2021-07-11 01:23] miquelramirez commented on #113
I will try to find tonight some time to check this, but IIRC `tarski`'s `FirstOrderLanguage` defines a sort `Object` by default on construction.

The desired behaviour of the `PDDL` parser should be that if you come across a constant symbol that you cannot resolve into one of the domain-specific types, then you register it as a constant of the `Object` type. Also, it needs to be ensured that if th

[2021-07-11 02:43] haz commented on #113
So then I think the missing piece is having `object` listed as a type in the generated PDDL.

We aren't doing anything fancy -- loading a solvable dom/prob pair without types, writing it back to file, and observing that it can no longer be solved. It's because all the parameters now get the ` - object` addition, without the `:types` section including `object`.

[2021-07-11 09:29] miquelramirez commented on #113
Okay, so it is not the parsing/reading issue, but a specific writer issue (slaps forehead). We do add the `object` type on construction (see `src/tarski/fol.py` line 39).

Looking through the class `FstripsWriter` in `src/tarski/io/fstrips.py` I see that the method `get_type()` (line 243-254) deliberately skips the built-in types from the `(:types ...)` section. I think it isn't correct to mention

[2021-07-12 02:33] haz commented on #113
Hrmz...those methods seem to be fairly static, so where would the optional parameter be set? I agree that the more natural solution would be to avoid types entirely, but then those outputs should have their conditioning based on `is_typed_problem()`.

The code to cause this is pretty simple afaik -- just load a non-typed domain and then write it again. It stems from a need to generate multiple pro

[2021-07-12 02:45] miquelramirez commented on #113
Hi @haz,

Instances of `FstripsWriter` are the ones with the information, and clearly, the methods that invoke the functions mentioned above should be the ones passing along the "typing" status of the domain and instance.

BTW, now that I think of it, the method involved in writing down the object definition in the instance file needs to be aware of the typed/untyped status too.

👍

[2021-07-12 07:01] gfrances commented on #113
Hi guys,

would _always_ printing `object` as a type solve the issue? Seems like that would be OK with the "standard", and while it is aesthetically a bit less pleasing perhaps that having untyped parameters, declarations, etc. when possible, maybe it's not that terrible?

[2021-07-12 07:20] miquelramirez commented on #113
Depends on the planner @haz is using... If we add the `: typing` keyword and probably add `object` too in the `:types` section to help planners that ignore the requirements tags, I think no planner could have grounds to behave in an unseemly way.

[2021-07-12 07:34] gfrances commented on #114
Hi @alvalentini,

I'm trying to reproduce some error by running the code you provide on your domain and instance, but I'm not getting there. See e.g. commit #4c263b83916c0863dd93cbd96d49e09ff22b69c8. At the moment the parser is complaining that the `:goal` section is after the `:init` section, which I presume is not the error you were getting. Could you report exactly what error you get, and with

[2021-07-12 08:16] alvalentini commented on #114
The error I get parsing the domain I provided is the following:
[code]
The version of tarski is v0.7.0 (commit 7d955e535fbbca012bfd1a12402b97febc6b35b9).

[2021-07-12 08:20] alvalentini commented on #114
The domain and problem you added in commit 4c263b83916c0863dd93cbd96d49e09ff22b69c8 are not the ones I provided in the issue.

[2021-07-12 08:25] gfrances commented on #114
Oops my bad then, must have mixed them with some other pddl files. Will re-check that in a bit!

[2021-07-12 10:42] haz commented on #113
That'd work. We're less interested in the planner used, as the encodings made.

[2021-07-12 16:58] gfrances commented on #114
@miquelramirez , maybe you can have a look at commit 5bc7980 and let me know what you think. I've just implemented Alessandro's suggested fix, which by default interprets that `number`s are real numbers, not integers. I've had to fix one minor test, but otherwise should be good to go.

[2021-07-12 17:40] gfrances commented on #113
I'm implementing this, but finding a rather silly issue with the [PDDL 3.1 BNF grammar](https://helios.hud.ac.uk/scommv/IPC-14/repository/kovacs-pddl-3.1-2011.pdf).
According to the grammar, the `(:types ...)` definition needs to be made up of `typed list` elements.
If I interpret it correctly, there would be no room for a simple `(:types object)` declaration, since all typenames need to be follow

[2021-07-12 18:48] haz commented on #113
Ya, well there's the standard and then there's the "common standard" in what planners support ;). You could technically have untyped languages compiled with every object of type `objekt` and then just use `(:types objekt - object)` to be complicit with the BNF, but I'm pretty sure there are loads of domains that "get it wrong" (TM).

[2021-07-12 18:49] haz commented on #113
...thus, my general take is just go with `(:types object)`, as long as the common planners don't complain. It's far easier than modifying the rest of the spots to not spit out `- object`.

[2021-07-13 14:09] haz commented on #113
@gfrances That seems to do the trick, thanks!

[2021-07-13 16:36] haz opened #116 "Use JupyterLite to expose the notebooks on ReadTheDocs"
https://blog.jupyter.org/jupyterlite-jupyter-%EF%B8%8F-webassembly-%EF%B8%8F-python-f6e2e41ab3fa

[2021-07-14 10:03] gfrances commented on #114
This should be fixed in `devel` now

[2021-07-14 10:03] #114 closed

[2021-07-14 10:14] gfrances commented on #113
This should be fixed on `devel` now. Thanks guys!

[2021-07-14 10:14] #113 closed

[2021-07-14 10:15] gfrances commented on #116
Very cool!

[2021-07-14 10:25] alvalentini commented on #114
When do you think this fix will be available in a new tarski release?

[2021-07-14 10:39] gfrances commented on #114
We can make a new release easily, but you should be able to use the new feature by pulling with `pip` directly from Github, at whatever fixed commit ID you prefer. The syntax for this varies slightly whether you're using a `requirements.txt` file, a `setup.py` file, or some other python environment manager. See e.g. [this](https://adamj.eu/tech/2019/03/11/pip-install-from-a-git-repository/) for so

[2021-07-14 15:42] mejrpete commented on #91
Hey there! I've got some time to work on this again, and wanted to touch base.

I think I'm pretty comfortable after all this discussion on what's needed from the standpoint of usability for this pattern (for RDDL specifically). I think I've got my tests almost entirely sorted out (at least as a starting point) for validation of the approach (and as a driver of any implementation that would actual

[2021-07-15 14:28] haz opened #117 "Match Tree for Action Applicability"
### Discussed in https://github.com/aig-upf/tarski/discussions/112

<div type='discussions-op-text'>

<sup>Originally posted by **haz** June  7, 2021</sup>
Any reason this shouldn't be pulled into tarski? It is well-known how much death there can be with the [naive approach](https://github.com/aig-upf/tarski/blob/master/src/tarski/search/model.py#L35). We have a reference implementation both in FD

[2021-07-22 12:06] miquelramirez commented on #91
Hold on there budddy! I will get back in detail to you as soon as I can.

Yep, create a new branch with the target being our `devel` branch.

Thanks again and sorry for being so late to get back to you - your email has been sitting in my inbox for days looking askance at me...

[2021-07-22 14:48] mejrpete commented on #91
No worries at all! I'm starting exploratory implementation locally to debug my tests and see what's necessary. I'll wait for your detailed response and keep doing what I'm doing in the meantime!

And absolutely no worries on the latency on replies. Everyone has a lot going on 😊

[2021-08-02 15:59] mejrpete commented on #91
@miquelramirez shared a draft PR (#120) with what I've done so far, and some comments on what is still open/should be discussed (among any other things 😊). Opened it as a draft PR on `devel`, although it should probably just be a PR on a new feature branch. Just didn't want to be creating new branches without any discussion, so figured this was the reasonable pattern.

Looking forward to some addi

[2021-11-01 14:33] phoeft670 opened #121 "Atom parsing failes because of whitespace"
When parsing .sas files from Fast-Downward parse_atom in utils/helpers.py raises an UndefinedElement error on atoms with arity higher than one, because the whitespace is not ignored.

I will provide a fix on a fork in a few minutes

[2021-11-02 05:45] miquelramirez commented on #121
Thank you Paul. I wasn't aware we had a feature for parsing FD's SAS instance data. Will review it as soon as I can and merge into `devel`.

[2021-11-02 07:48] miquelramirez commented on #121
Merged into `devel` will get into `master` as soon as we get ready to release `0.7.1`.

Thanks again!

[2021-11-02 07:48] #121 closed

[2022-02-25 05:07] anubhav-cs opened #127 "Clingo `pypi` ImportError: "DLL load failed""
*Adding this to issues for anyone who faces this error in the future*

I encountered the following error when tarski attempts to import `clingo` on windows.

    ImportError: "DLL load failed" while importing _clingo

The error implies that there is a `dll` that the python module is unable to locate, in this case`_clingo` is unable to locate a `dll`. The missing `dll` can be found using [Dependenc

[2022-02-25 05:08] anubhav-cs commented on #127
Nothing to be done.

[2022-02-25 05:08] #127 closed

[2022-03-08 08:20] karpase opened #129 "Support for Durative Actions"
I tried parsing a PDDL problem with durative actions, and got a parsing error.
Looks like the K_ACTION only support regular actions, not durative actions, even though DURATIVE_ACTION is still in the list of tokens.

[2022-03-08 08:30] miquelramirez commented on #129
Hello @karpase ,

I am reimplementing PDDL support, and I have a mostly working PDDL 2.2 (temporal and axioms) parser in the `devel` branch. I am still working on documentation/examples, and thinking on what kind of API to provide to access the AST and do further processing/transformation/manipulation.

The parser is useable already, you could use it for instance to dump to some intermediate repre

[2022-03-08 08:33] miquelramirez commented on #129
Also, robust support for exotic things like TILs or variable durations is not an immediate priority to me, but any PRs are welcome.

[2022-03-08 08:53] karpase commented on #129
Thanks @miquelramirez, I'll give it a try.

[2022-03-09 08:42] gfrances opened #130 "Bump Up Minimum Python Supported Version to 3.8"
Python 3.8 is already [more than a year old](https://www.python.org/downloads/), ships by default in the latest Ubuntu LTS and, more relevant to us, has a number of improvements that would allow us to clean up the code a little bit and
- [ ] Make the use of [mypy](http://mypy-lang.org/) and similar static type-checking tools more systematic and simpler.
- [ ] Get rid of the `multipledispatch` depe

[2022-04-01 15:00] alvalentini opened #134 "Windows support"
I tried to use tarski in windows but when I try to import the grounders I get this error:

[code]

In ubuntu the same code works well.

[2022-04-05 08:10] pawamoy commented on #92
Hello! I think you forgot to update the classifier in `setup.py`:

https://github.com/aig-upf/tarski/blob/master/setup.py#L41

I can open a PR to put Apache 2.0 there as well. Then you'd need to push a new release to update the metadata on PyPI, as I'm afraid there's no other way to update it.

[2022-04-05 12:04] haz commented on #92
While we're pushing new releases, getting the devel branch out there would be stellar. Always a pain to automate off of a branch.

[2022-04-08 06:44] gfrances commented on #92
Thanks @pawamoy , you were totally right. This is fixed in the latest release now.

[2022-04-08 07:21] pawamoy commented on #92
Thanks a lot for the quick update @gfrances!

[2022-07-12 17:58] ctpelok77 opened #138 "Setting the cost function in the initial state appears to be broken in the current version"
The following miconic example works in version 0.6.0 but throws an exception in 0.8.2.
The issue seems to be with `init.set(cost, 0)`.

[code]

[2022-07-12 19:14] ctpelok77 commented on #138
Ok, just figured out that if I change  `cost` to `cost()`, it works.
So, I guess it actually fixes the previous faulty syntax?  Please feel free to close the issue.

[2022-07-12 22:53] miquelramirez commented on #138
Hi @ctpelok77 ,

let me explain what is the metaphor here, it should help going forward.

`Model` objects map onto the notion of [interpretation](https://en.wikipedia.org/wiki/Interpretation_(logic)) or _semantic_ structure in logic. That is, a definition of an assignment (a function) that maps well-formed formulas to objects (truth values, numbers, etc.). So when one writes

[code]

it is attempt

[2022-07-12 22:53] #138 closed

[2022-09-29 14:20] hectorpal opened #139 "Parse PDDL with `oneof`"
It would be useful to parse PDDL with `oneof` in:
- `init`: relevant for conformant planning. That would allow to [implement this example in documentation from a conformant PDDL](https://github.com/aig-upf/tarski/blob/devel/docs/notebooks/k0-compilation.ipynb).
- `effects`: relevant for all variants of non-deterministic planning, including FOND.

Are you guys open to that?
What would that entail?

[2022-09-29 15:30] hectorpal commented on #139
This discussion is relevant:
https://github.com/aig-upf/tarski/discussions/108#discussioncomment-768694
It was said that extending the parser is hard and suggested to move to [~~Ply~~ Sly](https://github.com/dabeaz/sly).

That would be a lot, of course. I wonder if there is a middle ground.

[2022-10-02 21:59] miquelramirez commented on #139
Hi @hectorpal,

we are always open to PRs with new features. The bigger the scope of the changes, the longer it takes to go over them.

Miquel.

[2022-10-02 22:30] haz commented on #139
Doesn't quite answer either of the questions :p.

Are you guys no longer doing any active development on the library, or is expanding the input format allowed just not on the roadmap?

[2022-10-02 22:54] miquelramirez commented on #139
Yes, it does.

Honestly @haz I am very tired of these conversations, other "smart" remarks etc. You are wet enough behind the ears to know what the realities of funding in research are. Currently, nobody is willing to put a $ on the table to fund work on providing PDDL modeling support. At least not to us. So Tarski PDDL Consulting Pty Ltd is over.

At the moment, anything that isn't 100% aligned

[2022-10-03 00:53] haz commented on #139
This is surprising and devastating news that tarski's no longer accepting public input on things. I don't read @hectorpal 's original questions...

...as a direct request for implementation. But if there's no room for the community to even engage on how to approach things, then I guess it does sit as a project gone dormant. It truly is a loss for the community, and I say that as one of the first t

[2022-10-03 01:18] miquelramirez commented on #139
Thank you for the good vibes, @haz. I appreciate them and I wish there was a funding organisation that accepted them as in-kind contributions.

There is a minimum level of due diligence on behalf community contributions, so they are recognised by my parser. The requirements are summarised in the following checklist:

- [ ]  Identify a gap in the feature set offered
- [ ] Make clear whether the ask

[2022-11-14 21:50] TheAeryan opened #140 "Support for existential preconditions"
Hi,
I am trying to parse a PDDL domain with existential preconditions (the _exists_ keyword). However, I get the error `tarski.errors.UndefinedVariable: Undefined element "?from" (error msg: None)`. Here is the PDDL domain:

[code]

I have tested this PDDL domain (with the rest of the actions) with the FastDownward planner and it works. Therefore, my question is: **does Tarski support ADL requirem

[2022-11-14 22:46] miquelramirez commented on #140
Thank you for the potential bug report.

I have added two test cases to cover the example given in the post above, see commit 3a7b2c899a1926a899c9fdb14f771eb99ecc6f6c

The `FStripsReader` parser does not report any errors (as I expected), and the (incomplete) PDDL 2.1 parser does report an error also as expected:

[code]

as can be seen from the test output, the PDDL 2.1 parser detects the `:exist

[2022-11-14 23:48] TheAeryan commented on #140
I have executed the FstripsReader test (see [test_tarski.py.txt](https://github.com/aig-upf/tarski/files/10007836/test_tarski.py.txt), although I don't know if I have executed it correctly) and I get `line 1:1 mismatched input 'define' expecting 'domain'  [None]`.

Here I attach a full reproducible example (the full PDDL domain is [logistics-domain-exists.pddl.txt](https://github.com/aig-upf/tarsk

[2022-11-15 00:11] haz commented on #140
I think the PDDL may be off. ?from in the effect without it being a parameter.

[2022-11-15 00:26] TheAeryan commented on #140
Ah, you're absolutely right. Existential preconditions may introduce new variables (not present on the action parameters) but those variables can't be referenced in the action effects, right?

I tested this domain with the FastDownward planner and it worked. Maybe it is because FastDownward substitutes the variable ?from for the first valid instantiation and, since only one instantiation is valid

[2022-11-15 01:30] miquelramirez commented on #140
*chinstroke* then I wonder why I didn't get an error in my test.

@TheAeryan when I have chance I will review the test case and see if I can get it to complain as it did for you. You can find usage examples for the FStripsReader [here](https://github.com/aig-upf/tarski/blob/master/notebooks/006_parsing_pddl_like.ipynb) but it is not entirely complete.

If you can share an instance file I am happy

[2022-11-15 01:38] TheAeryan commented on #140
If by instance file you mean a PDDL problem, here is a very simple one:
[logistics-problem.pddl.txt](https://github.com/aig-upf/tarski/files/10008369/logistics-problem.pddl.txt)

[2022-11-15 22:12] miquelramirez commented on #140
Okay, all good I figured out why the test wasn't triggering with your original `PDDL` fragment.

I have added a new example with your PDDL formulation (which points out to your `github` repo?) so in the future there is a single-stop, very simple example of how to deal with "advanced" constructs. See PR details here: https://github.com/aig-upf/tarski/pull/141

Thank you very much for your report, a

[2022-11-15 22:12] #140 closed